<% srpm_count @sisyphus.srpms.all.count %>
<% title _("Prometheus 2.0 - Maintainer &laquo;") + h(@packager.name) + _("&raquo; - Bugs and FR") %>
<% url "/packager/" + h(@packager.login) + "/bugs" %>

<div class="header"><%=h _("Maintainer:") %> <%=h @packager.name %></div>
<p class="break" />
<span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/packager/<%=h h@packager.login %>" class="news" title="просмотреть информацию о майнтейнере"><%=h _("Information") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/packager/<%=h h@packager.login %>/srpms" class="news" title="просмотреть пакеты, собранные майнтейнером"><%=h _("Packages") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/packager/<%=h h@packager.login %>/gear" class="news" title="gear"><%=h _("Gear") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="current">&nbsp;<b><%=h _("Bugs and FR") %></b>&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/packager/<%=h h@packager.login %>/repocop" class="news" title="Отчет repocop о найденных ошибках и замечаниях"><%=h _("Repocop") %></a>&nbsp;</span><p class="news" /><br />
<b><%=h _("Total records:") %></b> <%=h @allbugs.count %> (<span style='color:red'><%=h @bugs.count %></span>|<%=h @allbugs.count - @bugs.count %>)

<div style="text-align:left;margin-left:2em;margin-top:1.5em;">
<span class="tabsel">&nbsp;<%=h _("open") %>&nbsp;</span>
<span class="tabunsel">&nbsp;<%= link_to _("total"), '/' + h(params[:locale]) + '/packager/' + h(@packager.login) + '/allbugs', :class => 'news' %>&nbsp;</span>
<table id="bugs" cellspacing="0" cellpadding="3">
  <tr>
    <th><%=h _("id") %></th>
    <th><%=h _("package") %></th>
    <th><%=h _("severity") %></th>
    <th><%=h _("status") %></th>
    <th><%=h _("reporter") %></th>
    <th><%=h _("summary") %></th>
  </tr>

<% @bugs.each do |b| %>
  <tr>
    <td>
      <%= link_to h(b.bug_id), 'https://bugzilla.altlinux.org/show_bug.cgi?id=' + h(b.bug_id), :class => 'news' %>
    </td>
    <td><%=h b.component %></td>
    <td><%=h b.bug_severity %></td>
    <td><%=h b.bug_status %></td>
    <td><%=h b.reporter.gsub('@', ' at ') %></td>
    <td><%=h b.short_desc %></td>
  </tr>
<% end %>

</table>
