<% srpm_count @package_counter %>
<% title "Sisyphus 2.0 &mdash; Maintainer &mdash; " + @packager.name + " &mdash; Repocop" %>
<% url "/packager/" + h(@packager.login) + "/repocop" %>

<div class="header">Maintainer: <%=h @packager.name %></div>

<p class="break" />
<span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/packager/<%=h h@packager.login %>" class="news" title="information about maintainer">Information</a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/packager/<%=h h@packager.login %>/srpms" class="news" title="packages which was built by this maintainer">Packages</a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/packager/<%=h h@packager.login %>/gear" class="news" title="gear">Gear</a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/packager/<%=h h@packager.login %>/bugs" class="news" title="Bugs/FR statstics assigned to this maintainer">Bugs and FR</a>&nbsp;</span><span class="current">&nbsp;<b>Repocop</b>&nbsp;</span><p class="break" />
<b>Repocop messages:</b><br /><br />

<% if @reports.size != 0 %>
<table id="bugs" cellspacing="0" cellpadding="3">
<tr>
<th>package</th>
<th>status</th>
<th>test</th>
<th>message</th>
</tr>

<% @reports.each do |r| %>
  <tr>
    <td class="strange">
      <%= link_to h(r.name) + '-' + h(r.version) + '-' + h(r.release) + '.' + h(r.arch), '/' + h(params[:locale]) + '/srpm/Sisyphus/' + h(r.name), :class => 'news', :title => 'detailed information about RPM' %>
    </td>
    <td><img src="/images/<%=h r.status %>.png"><br /><%=h r.status %></td>
    <td><%=h r.testname %></td>
    <td style="text-align:left"><%=h r.message %></td>
  </tr>
<% end %>

</table>

<% else %>
no data
<% end %>

