<% srpm_count @package_counter %>
<% title "Sisyphus 2.0 &mdash; Maintainer &mdash; " + @packager.name + " &mdash; Packages" %>
<% url "/packager/" + h(@packager.login) + "/srpms" %>

<div class="header">Майнтейнер: <%=h @packager.name %></div>
<p class="break" />
<span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/packager/<%=h h@packager.login %>" class="news" title="просмотреть информацию о майнтейнере">Информация</a>&nbsp;</span><span class="underl">&nbsp;</span><span class="current">&nbsp;<b>Пакеты</b>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/packager/<%=h h@packager.login %>/gear" class="news" title="gear">Gear</a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/packager/<%=h h@packager.login %>/bugs" class="news" title="Статистика по кол-ву bugs/FR, адресованных данному майнтейнеру">Bugs and FR</a>&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/packager/<%=h h@packager.login %>/repocop" class="news" title="Отчет repocop о найденных ошибках и замечаниях">Repocop</a>&nbsp;</span><p class="break" />
<b>Список пакетов, собранных майнтейнером:</b> [<%=h @packager.acls.size %>] <br /><br />

<table id="bugs" cellspacing="0" cellpadding="3">
<tr>
<th>repo<br/>cop<br/>
<a href="?sort=status&amp;order=desc"><img src="/images/stock_navigate-prev.png" style="border-width:0px" title="сортировать по статусу repocop" alt="сортировать по статусу repocop" />
</th>
<th>&nbsp; пакет &nbsp;<br /><a href="?sort=name&amp;order=desc"><img src="/images/stock_navigate-prev.png" style="border-width:0px" title="сортировать по имени пакета" alt="сортировать по имени пакета" /></a>
</th>
<th>текущая<br />версия</th>
<th>время сборки</th>
<th>возраст,<br /><i>недель</i><br /><a href="?sort=age&amp;order=asc"><img src="/images/stock_navigate-next.png" style="border-width:0px" title="сортировать по возрасту сборки" alt="сортировать по возрасту сборки" /></a>
</th>
<th>Url</th>
<th>О пакете</th>
</tr>


<!--
<tr>
<td>

	<a class="repocoplink" href="/ru/srpm/Sisyphus/PyPanel/repocop" title="подробный отчет repocop о пакете">
	<img src="../../../img/ok.png" alt="ok"></a>
</td>
<td class="strange">
	<a class="news" href="/ru/srpm/Sisyphus/PyPanel" title="подробная информация о пакете">PyPanel</a>
</td><td>
	2.4-alt4
</td><td>
	2 августа 2009, 02:01
</td><td>
	6.4

</td><td>
	<a href="http://pypanel.sourceforge.net/" class="news">http://pypanel.sourceforge.&hellip;</a>
</td><td style="text-align:left;">
	Lightweight panel/taskbar for X11 Window Managers
</td>
</tr>
-->

<%# @srpms.each do |s| %>
<% @packager.srpms.each do |srpm| %>
<tr>
<td>
<% repocop_status = 'ok' %>
<% srpm.repocops.each do |repocop| %>
<% repocop_status = 'info' if repocop.status == 'info' and repocop_status != 'experimental' and repocop_status != 'warn' and repocop_status != 'fail' %>
<% repocop_status = 'experimental' if repocop.status == 'experimental' and repocop_status != 'warn' and repocop_status != 'fail' %>
<% repocop_status = 'warn' if repocop.status == 'warn' and repocop_status != 'fail' %>
<% repocop_status = 'fail' if repocop.status == 'fail' %>
<% end %>
  <%= link_to '<img src="/images/' + repocop_status + '.png" alt="' + repocop_status +'">', '/' + h(params[:locale]) + '/srpm/Sisyphus/' + h(srpm.name) + '/repocop', :class => 'repocoplink', :title => 'repocop' %>
</td>
<td class="strange">
   <%= link_to h(srpm.name), '/' + h(params[:locale]) + '/srpm/Sisyphus/' + h(srpm.name), :class => 'news' %>
</td>
<td>
  <%=h srpm.version %>-<%=h srpm.release %>
</td>
<td>
  <%=h srpm.buildtime %>
</td>
<td>
  <%=h time_ago_in_words(srpm.buildtime) %> <%= t 'ago' %>
</td>
<td>
  <% if srpm.url != nil %><%= link_to srpm.url[0..27] + '...', srpm.url, :class => 'news' %><% else %>&nbsp;<% end %>
</td>
<td style="text-align:left;">
  <%=h srpm.summary %>
</td>
</tr>
<% end %>

</tr>
</table>
