<% srpm_count @package_counter -%>
<% title _("Prometheus 2.0 - Maintainer &laquo;") + h(@packager.name) + _("&raquo; - Packages") -%>
<% url "/packager/" + h(@packager.login) + "/srpms" -%>

<div class="header"><%=h _("Maintainer:") %> <%=h @packager.name %></div>
<p class="break" />
<span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/packager/<%=h h@packager.login %>" class="news" title="<%=h _("information about maintainer") %>"><%=h _("Information") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="current">&nbsp;<b><%=h _("Packages") %></b>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/packager/<%=h h@packager.login %>/gear" class="news" title="<%=h _("gear") %>"><%=h _("Gear") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/packager/<%=h h@packager.login %>/bugs" class="news" title="<%=h _("Bugs/FR statistics assigned to this maintainer") %>"><%=h _("Bugs and FR") %></a>&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/packager/<%=h h@packager.login %>/repocop" class="news" title="<%=h _("repocop bugreports") %>"><%=h _("Repocop") %></a>&nbsp;</span><p class="break" />
<b><%=h _("List of packages which was built by this maintainer:") %></b> [<%=h @packager.sisyphus.count %>] <br /><br />

<table id="bugs" cellspacing="0" cellpadding="3" class="sortable">
  <tr>
    <th id="repocop" class="nosort"><%= _("repo<br/>cop") %></th>
    <th class="sort"><%=h _("package") %></th>
    <th class="nosort"><%= _("current<br />version") %></th>
    <th class="sort"><%=h _("build time") %></th>
    <th class="nosort"><%=h _("age") %></th>
    <th class="nosort"><%=h _("Url") %></th>
    <th class="nosort"><%=h _("Summary") %></th>
  </tr>

  <% @packager.sisyphus.each do |acl| -%>
  <% if !acl.srpm.nil? -%>
  <tr>
    <td>
      <%= link_to '<img src="/images/' + acl.srpm.repocop + '.png" alt="' + acl.srpm.repocop + '" />', '/' + h(params[:locale]) + '/srpm/Sisyphus/' + h(acl.srpm.name) + '/repocop', :class => 'repocoplink', :title => 'repocop'  %>
    </td>
    <td class="strange">
      <%= link_to h(acl.srpm.name), '/' + h(params[:locale]) + '/srpm/Sisyphus/' + h(acl.srpm.name), :class => 'news' %>
    </td>
    <td><%=h acl.srpm.version %>-<%=h acl.srpm.release %></td>
    <td><%=h acl.srpm.buildtime %></td>
    <td><%=h time_ago_in_words(acl.srpm.buildtime) %> <%= _("ago") %></td>
    <td>
      <% if acl.srpm.url != nil %><%= link_to acl.srpm.url[0..27] + '...', acl.srpm.url, :class => 'news' %><% else %>-<% end %>
    </td>
    <td style="text-align:left;"><%=h acl.srpm.summary %></td>
  </tr>
  <% end -%>
  <% end -%>

</table>
