<% title _('Prometheus 2.0 - Team &laquo;%s&raquo;') % @team.name %>

<div id="main-content">

  <div class="header">
    <%= _('Team:') %>
    <%= @team.name %>
  </div>

  <p class="break"></p>
  <b><%= _('Information:') %></b>
  <div class="para"></div>

  <p class="break"></p>
  <% if @leader %>
    <b><%= _('Team leader:') %></b>
    <% @leader.each do |leader| %>
      <%= link_to leader.name, maintainer_path(:id => leader.login, :branch => @branch.name), :class => 'news', :title => _('information about the packager') %>
    <% end %>
    <p class="break"></p>
  <% end %>

  <b><%= _('Team members:') %></b>
  <ul>
    <% @members.each do |member| %>
      <li><%= link_to member.name, maintainer_path(:id => member.login), :class => 'news', :title => _('information about the packager') %></li>
    <% end %>
  </ul>

  <p class="break"></p>

  <b><%= _('List of packages:') %></b>
  [
  <%= @srpms.count %>
  ]
  <br>
  <br>

  <table id='bugs' cellspacing='0' cellpadding='3'>
    <tr>
      <% if @branch.name == 'Sisyphus' %>
        <th><%= raw _('repo<br/>cop') %></th>
      <% end %>
      <th><%= _('package') %></th>
      <th><%= raw _('current<br />version') %></th>
      <th><%= _('build time') %></th>
      <th><%= _('age') %></th>
      <th><%= _('Url') %></th>
      <th><%= _('Summary') %></th>
    </tr>

    <% @srpms.each do |srpm| %>
      <tr>
        <% if @branch.name == 'Sisyphus' %>
          <td>
            <%= link_to image_tag("#{srpm.repocop}.png", :size => '20x20', :alt => srpm.repocop), repocop_srpm_path(srpm), :class => 'repocoplink', :title => _('repocop') %>
            <% if srpm.repocop_patch %>
              <br>
              <%= link_to image_tag('patch.jpg', :alt => 'repocop patch'), srpm.repocop_patch.url, :class => 'repocoplink', :title => _('repocop patch for the package') %>
            <% end %>
          </td>
        <% end %>
        <td class="strange">
          <%= link_to srpm.name, srpm_path(@branch, srpm), :class => 'news', :title => _('detailed information about RPM') %>
        </td>
        <td><%= "#{srpm.version}-#{srpm.release}" %></td>
        <td><%= srpm.buildtime %></td>
        <td><%= "#{time_ago_in_words(srpm.buildtime)} #{_('ago')}" %></td>
        <td>
          <% if srpm.url %>
            <%= link_to srpm.url[0..27] + '...', srpm.url, :class => 'news', :rel => 'nofollow' %>
          <% else %>
            -
          <% end %>
        </td>
        <td style="text-align: left;"><%= srpm.summary %></td>
      </tr>
    <% end %>
  </table>
</div>

<div id="bottom-offset-l">
 <div id="bottom-offset-r">
   &nbsp;
 </div>
</div>
