- title _('Prometheus 2.0 - Team &laquo;%s&raquo;') % @team.name

#main-content

  .header
    = _('Team:')
    = @team.name

  %p.break
  %b= _('Information:')
  .para

  %p.break
  - if !@leader.nil?
    %b
      = _('Team leader:')
    - @leader.each do |leader|
      = link_to leader.name, maintainer_path(:id => leader.login, :branch => @branch.name), :class => 'news', :title => _('information about the packager')
    %p.break

  %b= _('Team members:')
  %ul
    - @members.each do |member|
      %li= link_to member.name, maintainer_path(:id => member.login), :class => 'news', :title => _('information about the packager')

  %p.break

  %b= _('List of packages:')
  [
  = @acls.count
  ]
  %br
  %br

  %table{ :id => 'bugs', :cellspacing => '0', :cellpadding => '3' }
    %tr
      - if @branch.name == 'Sisyphus'
        %th= raw _('repo<br/>cop')
      %th= _('package')
      %th= raw _('current<br />version')
      %th= _('build time')
      %th= _('age')
      %th= _('Url')
      %th= _('Summary')

    - @acls.each do |acl|
      - if !acl.srpm.nil?
        %tr
          - if @branch.name == 'Sisyphus'
            %td
              = link_to image_tag("#{acl.srpm.repocop}.png", :size => '20x20', :alt => acl.srpm.repocop), repocop_srpm_path(acl.srpm), :class => 'repocoplink', :title => _('repocop')
              - if acl.srpm.repocop_patch
                %br
                = link_to image_tag('patch.jpg', :alt => 'repocop patch'), acl.srpm.repocop_patch.url, :class => 'repocoplink', :title => _('repocop patch for the package')
          %td{ :class => 'strange' }
            = link_to acl.srpm.name, srpm_path(@branch, acl.srpm), :class => 'news', :title => _('detailed information about RPM')
          %td= "#{acl.srpm.version}-#{acl.srpm.release}"
          %td= acl.srpm.buildtime
          %td= "#{time_ago_in_words(acl.srpm.buildtime)} #{_('ago')}"
          %td
            - if acl.srpm.url != nil
              = link_to acl.srpm.url[0..27] + '...', acl.srpm.url, :class => 'news', :rel => 'nofollow'
            - else
              -
          %td{ :style => 'text-align: left;'}= acl.srpm.summary

#bottom-offset-l
  #bottom-offset-r
    &nbsp;
