<% title _('Prometheus 2.0 - Package &laquo;%s&raquo; - Repocop') % @srpm.name %>
<% description "#{ @srpm.name } - #{ @srpm.summary }" %>
<% keywords @srpm.summary %>

<div id='main-content'>

<div style="height:3em;">
  <div id="rpmtop">
    <b style="font-size:9pt;"><%= _('Group') %> :: <%= _(@srpm.groupname) %></b><br>
    <div class="header" style="letter-spacing:1px;"><%= _('Source RPM:') %> <%= @srpm.name %></div>
  </div>
</div>

<div>
<%= render partial: "shared/srpms_menu", locals: { current_page: :repocop, branch: @branch, srpm: @srpm, opened_bugs: @opened_bugs, all_bugs: @all_bugs, version: @version } %>

</div>
<table id="bugs" cellspacing="0" cellpadding="3">
  <tr>
    <th><%= _('package id') %></th>
    <th><%= _('status') %></th>
    <th><%= _('test') %></th>
    <th><%= _('message') %></th>
  </tr>

<% @srpm.repocops.each do |repocop| %>
  <% if repocop.status != 'skip' %>
  <tr>
    <td><%= "#{ repocop.name }-#{ repocop.version }-#{ repocop.release }.#{ repocop.arch }" %></td>
    <td><%= image_tag("#{ repocop.status }.png", size: '20x20') %><br><%= repocop.status %></td>
    <td><%= repocop.testname %></td>
    <td style="text-align:left">
      <% if repocop.message.empty? %>
        &nbsp;
      <% else %>
        <%= repocop.message %>
      <% end %>
    </td>
  </tr>
  <% end %>
<% end %>

</table>

</div><div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div>
