<div id='main-content'>
  <div class='header'><%= _('Change your password') %></div>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <p><%= f.label :password, _('New password') %><br>
    <%= f.password_field :password %></p>

    <p><%= f.label :password_confirmation, _('Confirm new password') %><br>
    <%= f.password_field :password_confirmation %></p>

    <p><%= f.submit _('Change my password') %></p>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>

<div id='bottom-offset-l'>
  <div id='bottom-offset-r'>
    &nbsp;
  </div>
</div>
