<% @spkgs.each do |spkg| %>
  <span class="news-date-new">
    <%= link_to "#{ spkg.name }-#{ spkg.evr }", srpm_path(current_branch, spkg.name), class: 'news', title: _('detailed information about the package') %>
  </span>

  <% if spkg.builder %>
  <span class="news-text" style="border-bottom: dotted 1px #f0f0f0">&nbsp;<%= _('build') %>
    <%= link_to _(spkg.builder.name), maintainer_path(current_branch, spkg.builder), class: 'news', title: _('information about maintainer') %>, <%= spkg.buildtime %>
  </span>
  <% else %>
  <span class="news-text" style="border-bottom: dotted 1px #f0f0f0">&nbsp;<%= _('build') %>
    <%= spkg.buildtime %>
  </span>
  <% end %>

  <div id="pkg-<%= spkg.name %>" style="display:block;margin-top:1em;">
    <b><%= _('Group:') %></b> <span class="news-text"><%= _(spkg.groupname) %></span><br>
    <b><%= _('Summary:') %></b> <span class="news-text"><%= spkg.summary %></span><br>
    <b><%= _('Changes:') %></b> <div class="para"><%= simple_format(spkg.changelogs.last.changelogtext) %></div>
  </div>
  <p class="news" />

<% end %>

<p class="break" />
  <div style="text-align:center">
    <%= paginate @spkgs %>
  </div>
</div>
