<% title _("Prometheus 2.0 - Groups") %>
<% url "/packages" %>

<script type="text/javascript">
<!--
offImg = new Image(); offImg.src="/images/plus.gif";
onImg  = new Image(); onImg.src="/images/minus.gif";

function showGrp(dirid){
    if ( el = document.getElementById("dir"+dirid) ){
        if (el.style.display == "none"){
            el.style.display = "block";
            document.images['img'+dirid].src = onImg.src;
        } else {
            el.style.display = "none";
            document.images['img'+dirid].src = offImg.src;
        }
    }
}
-->
</script>

<div class="header"><%= _("Package groups") %></div>
<p class="break" />

<div style="font-size:12pt;">
<% index = 0 %>

<% @groups.each do |group| -%>
  <% if group.leaf? -%>
    <%= link_to group.name, '/' + params[:locale] + '/packages/' + group.name, :class => 'news', :style => 'margin-left:14px;' %> (<%= group.srpms.count %>)<br />
  <% else %>
    <div onclick="showGrp('<%= index %>')" class="grplist">
    <img name="img<%= index %>" src="/images/plus.gif" style="text-align:left; margin: 4px 4px 4px 0px; float:left" width="10" title="" alt="" /><%= group.name %>
    </div>
    <div id="dir<%= index %>" class="grphid" style="display:none">
    <% group.children.each do |child| -%>
        <% if child.leaf? %>
          <%= link_to child.name, '/' + params[:locale] + '/packages/' + group.name + '/' + child.name, :class => 'news', :style => 'margin-left:14px;' %> (<%= child.srpms.count %>)<br />
        <% else %>
          <% index += 1 -%>
          <div onclick="showGrp('<%= index %>')" class="grplist">
            <img name="img<%= index %>" src="/images/plus.gif" style="text-align:left; margin: 4px 4px 4px 0px; float:left" width="10" title="" alt="" /><%= child.name %>
          </div>
          <div id="dir<%= index %>" class="grphid" style="display:none">
            <% child.children.each do |c| -%>
              <% if c.leaf? -%>
                <%= link_to c.name, '/' + params[:locale] + '/packages/' + group.name + '/' + child.name + '/' + c.name, :class => 'news', :style => 'margin-left:14px;' %> (<%= c.srpms.count %>)<br />
              <% else -%>
                TODO
              <% end -%>
            <% end -%>
          </div>
        <% end -%>
      <% end -%>
    </div>
  <% end -%>
  <% index += 1 -%>
<% end -%>
</div>

<br />

</div><div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div>
