<% title _("Prometheus 2.0 - Intro") %>
<% url '' %>

<div class="header">Sisyphus</div>
<p style="text-align:justify">
<span class="news-text">
<%= raw _("<b>Sisyphus</b> is daily updated free software repository by <abbr title=\"Independent ALT Linux development team\">ALT&nbsp;Linux&nbsp;Team</abbr>. Participation in Sisyphus project is open for anyone. This project is based upon software packaging and dependency tracking technologies as well as robust developer collaboration processes. Any ALT&nbsp;Linux distribution and <b>APT</b> package manager is sufficient to use Sisyphus.  Sisyphus is a solution set constantly being under development which can be used to create universal or specialized <b>Linux distributions</b> or just <b>single systems</b>.") %>
<br /><br />
<%= _("Sisyphus is not intended for end users and its usage may result in unpredictable behaviour. You might want to use ALT Linux distributions and their usual updates if you want to run a reliable system.") %>
</span>
</p>
<p class="break" />

<p class="news" />
<div class="header">Новые пакеты</div>
<p class="news" />

<% @srpms.each do |srpm| %>
  <span class="news-date-new">
    <%= link_to srpm.name, srpm_main_path(:branch => 'Sisyphus', :name => srpm.name), :class => 'news', :title => _("detailed information about the package") -%>
  </span>

  <span class="news-text" style="border-bottom: dotted 1px #f0f0f0">&nbsp;сборка
	<%= link_to srpm.maintainer.name, maintainer_info_path(:login => srpm.maintainer.login), :class => 'news', :title => _('information about maintainer') %>, <%= srpm.buildtime %>
  </span>

  <div id="pkg-<%= srpm.name %>" style="display:block;margin-top:1em;">
    <b><%= _("Group:") %></b> <span class="news-text">Система/Библиотеки</span><br />
    <b><%= _("Summary:") %></b> <span class="news-text"><%= srpm.summary %></span><br />
    <b><%= _("Changes:") %></b> <div class="para">TODO</div>
  </div>
  <p class="news" />

<% end %>


<p class="break" />
<div style="text-align:center">
  <a href="/releases" class="news" title="<%= _("previous releases") %>">&raquo; <%= _("another transfers") %></a>
</div>
</div>
<div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div><div id="rightbar">
  <div class="headleft">
    <div class="headright" title="<%= _("sort maintainers by amount of packages") %>">
      <%= _("TOP maintainers") %>
    </div>
    <%= image_tag("collapse.gif", :id => 'topMain' , :class => 'close', :title => _("hide window"), :alt => _("hide window"), :size => "10x9") %>
  </div>
  <div id="topMainDiv" style="border: dotted #aabccd 1px;margin: 0px 4px 4px 4px;">
  <table style="font-size:8pt;" width="100%">
    <% @top15.each do |maintainer| -%>
      <tr>
        <td style="text-align: left;">
          <%= link_to maintainer.name, maintainer_info_path(:login => maintainer.login), :class => 'news', :title => _("information about the packager") %>
        </td>
        <td style="text-align: right;"><%= maintainer.counter %></td>
      </tr>
    <% end -%>
    <tr><td colspan="2" align="center">...</td></tr>
  </table>
</div><br />
    <div class="headleft">
      <div class="headright" title="<%= _("sort packages by amount of releases in the last half of year") %>">
        <%= _("TOP RPMs") %>
      </div>
      <%= image_tag("collapse.gif", :id => 'topRPM', :class => 'close', :title => _("hide window"), :alt => _("hide window"), :size => "10x9") %>
    </div>
  <div id="topRPMDiv" style="border: dotted gray 1px;margin: 0px 4px 4px 4px;">
  <table style="font-size:8pt;" width="100%">
<!--#include virtual="/cgi-bin/stats.pl?type=activity" -->
  <tr><td colspan="2" align="center">...</td></tr>
  </table>
</div><br />
    <div class="headleft">
      <div class="headright" title="<%= _("tips and tricks") %>">
        <%= raw _("tips &amp; tricks") %>
      </div>
      <%= image_tag("collapse.gif", :id => 'topTips', :class => 'close', :title => _("hide window"), :alt => _("hide window"), :size => "10x9") %>
    </div>
    <div id="topTipsDiv" style="border: dotted gray 1px;margin: 0px 4px 4px 4px; text-align: justify;padding:2px">
      <b><%= _("Sisyphus sync") %></b><br /><%= raw _("<b>Q:</b> How can I skip heap of packages if I even don't know why I need them?") %><br /><%= raw _("<b>A:</b> Create filter for rsync with the help of this") %> <a href="/<%= params[:locale] %>/rsync.shtml" class="news"><%= _("form") %></a>
    </div>
</div>



<!--#include virtual="/inc/bottom.shtml?skipit" -->

