<% srpm_count h(@package_counter) %>
<% title _("Prometheus 2.0 - Intro") %>
<% url '' %>

<div class="header">Sisyphus</div>
<p style="text-align:justify">
<span class="news-text">
<%= _("<b>Sisyphus</b> is daily updated free software repository by <abbr title=\"Independent ALT Linux development team\">ALT&nbsp;Linux&nbsp;Team</abbr>. Participation in Sisyphus project is open for anyone. This project is based upon software packaging and dependency tracking technologies as well as robust developer collaboration processes. Any ALT&nbsp;Linux distribution and <b>APT</b> package manager is sufficient to use Sisyphus.  Sisyphus is a solution set constantly being under development which can be used to create universal or specialized <b>Linux distributions</b> or just <b>single systems</b>.") %>
<br /><br />
<%=h _("Sisyphus is not intended for end users and its usage may result in unpredictable behaviour. You might want to use ALT Linux distributions and their usual updates if you want to run a reliable system.") %>
</span>
</p>
<p class="break" />
<div class="header"><%=h _("Latest changes") %></div>
<!--#include virtual="/cgi-bin/stats.pl?type=lastrpm" -->
<p class="break" />
<div style="text-align:center">
	<a href="/releases" class="news" title="<%=h _("previous releases") %>">&raquo; <%=h _("another transfers") %></a>
</div>
</div>
<div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div><div id="rightbar">
	<div class="headleft">
		<div class="headright" title="<%=h _("sort maintainers by amount of packages") %>">
			<%=h _("TOP maintainers") %>
		</div>
		<img id="topMain" src="/images/collapse.gif" class="close" title="<%=h _("hide window") %>" alt="<%=h _("hide window") %>" />
	</div>
	<div id="topMainDiv" style="border: dotted #aabccd 1px;margin: 0px 4px 4px 4px;">
	<table style="font-size:8pt;" width="100%">

        <% @top15.each do |t| -%>
          <tr>
            <td style="text-align: left;">
              <%= link_to h(t.name), '/packager/' + h(t.login), :class => 'news', :title => _("information about the packager") %>
            </td>
            <td style="text-align: right;"><%=h t.counter %></td>
          </tr>
        <% end -%>

	<tr><td colspan="2" align="center">...</td></tr>
	</table>
</div><br />
    <div class="headleft">
	    <div class="headright" title="<%=h _("sort packages by amount of releases in the last half of year") %>">
		    <%=h _("TOP RPMs") %>
	    </div>
	    <img id="topRPM" src="/images/collapse.gif" class="close" title="<%=h _("hide window") %>" alt="<%=h _("hide window") %>" />
    </div>
	<div id="topRPMDiv" style="border: dotted gray 1px;margin: 0px 4px 4px 4px;">
	<table style="font-size:8pt;" width="100%">
<!--#include virtual="/cgi-bin/stats.pl?type=activity" -->
	<tr><td colspan="2" align="center">...</td></tr>
	</table>
</div><br />
    <div class="headleft">
	    <div class="headright" title="<%=h _("tips and tricks") %>">
		    <%= _("tips &amp; tricks") %>
	    </div>
	    <img id="topTips" src="/images/collapse.gif" class="close" title="<%=h _("hide window") %>" alt="<%=h _("hide window") %>" />
    </div>
    <div id="topTipsDiv" style="border: dotted gray 1px;margin: 0px 4px 4px 4px; text-align: justify;padding:2px">
	    <b><%=h _("Sisyphus sync") %></b><br /><%=h _("Q: How can I skip heap of packages if I even don't know why I need them?") %><br /><%=h _("A: Create filter for rsync with the help of this") %> <a href="/<%=h params[:locale] %>/rsync.shtml" class="news"><%=h _("form") %></a>
    </div>
</div>



<!--#include virtual="/inc/bottom.shtml?skipit" -->

