<% title _('Prometheus 2.0 - Maintainers') %>

<div id='main-content'>
  <table style='font-size: 10pt;' width='100%'>
    <tr>
      <th><%= _('Maintainers') %></th>
      <th><%= _('Teams') %></th>
    </tr>
    <tr>
      <td valign='top'>
        <% @maintainers.each do |maintainer| %>
          <% if $redis.smembers("#{@branch.name}:maintainers:#{maintainer.login}").count > 0 %>
          <div style='margin-bottom: 2px; text-align: left; border-bottom: 1px gray dotted; width: 95%; font-size: 9pt; height: 10pt;'>
            <div style='float: left;'>
              <%= link_to maintainer.name, maintainer_path(@branch, maintainer), :class => 'news' %>
              <%= link_to " (#{maintainer.login})", maintainer_path(@branch, maintainer), :style => 'text-decoration: none; color: black;' %>
            </div>
            <div style='float: right;'><%= $redis.smembers("#{@branch.name}:maintainers:#{maintainer.login}").count %></div>
          </div>
          <% end %>
        <% end %>
      </td>
      <td valign='top'>
        <% @teams.each do |team| %>
          <% if $redis.smembers("#{@branch.name}:maintainers:#{team.login}").count > 0 %>
          <div style='margin-bottom: 2px; text-align: left; border-bottom: 1px gray dotted; width: 95%; font-size: 9pt; height: 10pt;'>
            <div style='float: left;'>
              <%= link_to team.name, team_path(:id => team.login[1..-1], :branch => @branch.name), :class => 'news' %>
              <%= link_to " (#{team.login[1..-1]})", team_path(:id => team.login[1..-1], :branch => @branch.name), :style => 'text-decoration: none; color: black;' %>
            </div>
            <div style='float: right;'><%= $redis.smembers("#{@branch.name}:maintainers:#{team.login}").count %></div>
          </div>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
</div>

<div id='bottom-offset-l'>
  <div id='bottom-offset-r'>
    &nbsp;
  </div>
</div>
