<% title _("Prometheus 2.0 - Maintainers") %>
<% url "/people" %>

<table width="100%" style="font-size:10pt;">
<tr><th><%= _("Maintainers") %></th><th><%= _("Teams") %></th></tr>
<tr>
<td valign="top">
<% @maintainers.each do |maintainer| -%>
  <div style="margin-bottom: 2px;text-align:left;border-bottom: 1px gray dotted; width: 95%; font-size: 9pt; height: 10pt">
    <div style="float:left">
      <%= link_to maintainer.name, '/' + params[:locale] + '/packager/' + maintainer.login, :class => 'news' %> (<%= maintainer.login %>)
    </div>
    <div style="float:right"> <%= maintainer.counter %></div>
  </div>
<% end -%>
</td>
<td valign="top">
<% @teams.each do |team| -%>
  <div style="margin-bottom: 2px;text-align:left;border-bottom: 1px gray dotted; width: 95%; font-size: 9pt; height: 10pt">
    <div style="float:left">
      <%= link_to team.name, team_path(:login => team.login[1..-1]), :class => 'news' %> (<%= team.login[1..-1] %>)
    </div>
    <div style="float:right"> <%= team. counter %></div>
  </div>
<% end -%>
</td>
</tr>
</table>

</div><div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div>
