<% srpm_count @sisyphus.srpms.all.count %>
<% title _("Prometheus 2.0 - Search") %>
<% url '' %>

<div class="header" style="letter-spacing:1px;"><%=h _("Search") %></div>
<p class="break">
<form name="findonsite" action="/find.shtml" method="GET">
<input type="text" name="request" value="<%=h params[:request] %>" size="20">
<input type="submit" class="top-go" id="subOn" value="<%=h _("search") %>" onmouseover="m_on('subOn')"  onmouseout="m_off('subOn')">
</form>
<br /><br />
<%=h _("On your query") %> &quot;<b><%=h params[:request] %></b>&quot; <%=h _("were found") %> <b><%=h @srpms_count %></b> <%=h _("RPMs:") %>

<p class="break"><br />
<table id="bugs" cellspacing="0" cellpadding="3">
<tr>
  <th><%=h _("package") %></th>
  <th><%= _("current<br />version") %></th>
  <th><%=h _("packager") %></th>
  <th><%=h _("summary") %></th>
</tr>

<% @srpms.each do |srpm| %>
<tr>
<td class="strange">
  <%= link_to h(srpm.name), '/' + h(params[:locale]) + '/srpm/Sisyphus/' + h(srpm.name), :class => 'news' %>
</td>
<td><%=h srpm.version %>-<%=h srpm.release %></td>
<td>
<% if srpm.packager.team == true %>
  <%= link_to h(srpm.packager.name), '/' + h(params[:locale]) + '/team/' + h(srpm.packager.login)[1..-1], :class => 'news' %>
<% else %>
  <%= link_to h(srpm.packager.name), '/' + h(params[:locale]) + '/packager/' + h(srpm.packager.login), :class => 'news' %>
<% end %>
</td>
<td><%=h srpm.summary %></td>
</tr>
<% end %>

</table>

