<% title _("Prometheus 2.0 - Search") %>
<% url '/find.shtml' %>

<div class="header" style="letter-spacing:1px;"><%= _("Search") %></div>
<p class="break">
<form name="findonsite" action="/<%= params[:locale] %>/find.shtml" method="GET">
<input type="text" name="request" value="<%= params[:request] %>" size="20">
<input type="submit" class="top-go" id="subOn" value="<%=h _("search") %>" onmouseover="m_on('subOn')"  onmouseout="m_off('subOn')">
</form>
<br /><br />
<%= _("On your query") %> &quot;<b><%= params[:request] %></b>&quot; <%= _("were found") %> <b><%= @srpms_count %></b> <%= n_("RPM:", "RPMs:", @srpms_count) %>

<p class="break"><br />
<table id="bugs" cellspacing="0" cellpadding="3">
<tr>
  <th><%= _("package") %></th>
  <th><%= raw _("current<br />version") %></th>
  <th><%= _("summary") %></th>
</tr>

<% @srpms.each do |srpm| -%>
<tr>
<td class="strange">
  <%= link_to srpm.name, srpm_main_path(:branch => 'Sisyphus', :name => srpm.name), :class => 'news' %>
</td>
<td><%= srpm.version %>-<%= srpm.release %></td>
<td><%= srpm.summary %></td>
</tr>
<% end -%>

</table>

</div><div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div>
