<% if perl_watch %>
  <div class="headleft">
    <div class="headright" title="<%= _('Other repositories') %>">
      <%= _('Other repositories') %>
    </div>
    <%= image_tag('collapse.gif', id: 'otherREPO', class: 'close', title: _('hide window'), alt: _('hide window'), size: '10x9') %>
  </div>
  <div id="otherREPODiv" style="border: dotted gray 1px;margin: 0px 4px 4px 4px;">
    <table style="font-size:8pt;" width="100%">
      <tr>
        <td style="text-align: left;">
          <a class="news" href="http://search.cpan.org/CPAN/authors/id/<%= perl_watch.path %>" rel='nofollow'><%= _('CPAN:') %></a>
        </td>
        <td style="text-align: right;"><%= perl_watch.version %></td>
      </tr>
    </table>
  </div>

  <br>
<% end %>
