<% title _("Prometheus 2.0 - Package &laquo;%s&raquo; - Changelog") % @srpm.name %>
<% description "#{@srpm.name} - #{@srpm.summary}" %>
<% keywords @srpm.summary %>

<div id='main-content'>

<div id="rightbar">
<div class="headleft">
<div class="headright" title="<%= _("ALT Linux repositories") %>">
  <%= _("ALT Linux repositories") %>
</div>
<%= image_tag("collapse.gif", :id => 'topRPM', :class => 'close', :title => _("hide window"), :alt => _("hide window"), :size => "10x9") %>
</div>
<div id="topRPMDiv" style="border: dotted gray 1px;margin: 0px 4px 4px 4px;">
<table style="font-size:8pt;" width="100%">

<% @allsrpms.each do |rpm| %>
<tr>
  <td style="text-align: left;">
    <%= link_to "#{rpm.branch.name}:", changelog_srpm_path(:id => rpm.name, :branch => rpm.branch.name), :class => 'news' %>
  </td>
  <td style="text-align: right;"><%= "#{rpm.version}-#{rpm.release}" %></td>
</tr>
<% end %>

</table>
</div><br />
</div>

<div style="height:3em;">
    <div id="rpmtop">
        <%= render :partial => "group" %>
        <div class="header" style="letter-spacing:1px;"><%= _("Source RPM:") %> <%= @srpm.name %></div>
    </div>
</div>

<div>
<p class="break" />
<span class="vkladka">&nbsp;<%= link_to _('Main'), srpm_path(@srpm.branch, @srpm), :class => 'news', :title => _('information about SRPM') %>&nbsp;</span><span class="underl">&nbsp;</span><span class="current">&nbsp;<b><%= _('Changelog') %></b>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _('Spec'), spec_srpm_path(@srpm.branch, @srpm), :class => 'news', :title => _('spec') %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _('Patches'), srpm_patches_path(@srpm.branch, @srpm), :class => 'news', :title => _('patches') %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _('Sources'), srpm_sources_path(@srpm.branch, @srpm), :class => 'news', :title => _('sources') %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _('Download'), get_srpm_path(@srpm.branch, @srpm), :class => 'news', :title => _('download latest version') %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _('Gear'), gear_srpm_path(@srpm), :class => 'news', :title => _('this package in gear repositories') %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _('Bugs and FR'), bugs_srpm_path(@srpm), :class => 'news', :title => _('list of bugs and feature requests') %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _('Repocop'), repocop_srpm_path(@srpm), :class => 'news', :title => _('repocop bugreports') %>&nbsp;</span><p class="news" />

<% @changelogs.each do |changelog| %>
  <% if changelog.changelogname.force_encoding("UTF-8").valid_encoding? &&
        changelog.changelogtext.force_encoding("UTF-8").valid_encoding? %>
  <p class="news" />
  <b><%= Time.at(changelog.changelogtime.to_i).to_date %> <%= changelog.changelogname.gsub('@altlinux', ' at altlinux').gsub('@', ' at ') %></b> <br />
  <ul class="change">
    <%= simple_format(changelog.changelogtext) %>
  </ul>
  <% else %>
  <p class="news" />
    <b>Broken changelog entry.</b>
  <% end%>
<% end %>

</div>

</div><div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div>
