<% title _('Prometheus 2.0 - Package &laquo;%s&raquo; - Changelog') % @srpm.name %>
<% description "#{@srpm.name} - #{@srpm.summary}" %>
<% keywords @srpm.summary %>

<div id='main-content'>
   <div class="rightbar fat">
      <%= render partial: "shared/tables/srpm_list", locals: { branched_srpms: @srpms_by_name.as_json } %>
   </div>

<div style="height:3em;">
  <div id="rpmtop">
    <b style="font-size:9pt;"><%= _('Group') %> :: <%= _(@srpm.groupname) %></b><br>
    <div class="header" style="letter-spacing:1px;"><%= _('Source RPM:') %> <%= @srpm.name %></div>
  </div>
</div>

<div>
<%= render partial: "shared/srpms_menu", locals: { current_page: :changelog, branch: @branch, srpm: @srpm, opened_bugs: @opened_bugs, all_bugs: @all_bugs, version: @version } %>

<% @changelogs.each do |changelog| %>
  <% if changelog.changelogname.force_encoding("UTF-8").valid_encoding? &&
        changelog.changelogtext.force_encoding("UTF-8").valid_encoding? %>
  <p class="news" />
  <b><%= Time.at(changelog.changelogtime.to_i).to_date %> <%= changelog.changelogname.gsub('@altlinux', ' at altlinux').gsub('@', ' at ') %></b> <br>
  <ul class="change">
    <%= simple_format(changelog.changelogtext) %>
  </ul>
  <% else %>
  <p class="news" />
    <b><%= _('Broken changelog entry.') %></b>
  <% end%>
<% end %>

</div>

</div><div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div>
