<% title _("Prometheus 2.0 - Package ") + @srpm.name + _(" - Download") %>
<% description "#{@srpm.name} - #{@srpm.summary}" %>

<div id='main-content'>

<div id="rightbar">
<div class="headleft">
<div class="headright" title="<%= _("ALT Linux repositories") %>">
  <%= _("ALT Linux repos") %>
</div>
<%= image_tag('collapse.gif', :id => 'topRPM', :class => 'close', :title => _("hide window"), :alt => _("hide window"), :size => "10x9") %>
</div>
<div id="topRPMDiv" style="border: dotted gray 1px; margin: 0px 4px 4px 4px;">
<table style="font-size: 8pt;" width="100%">

<% @allsrpms.each do |rpm| %>
<tr>
  <td style="text-align: left;">
    <%= link_to "#{rpm.branch.name}:", get_srpm_path(:id => rpm.name, :branch => rpm.branch.name), :class => 'news' %>
  </td>
  <td style="text-align: right;"><%= "#{rpm.version}-#{rpm.release}" %></td>
</tr>
<% end %>

</table>
</div><br />
</div>

<div style="height:3em;">
  <div id="rpmtop">
    <%= render :partial => "group" %>
    <div class="header" style="letter-spacing:1px;"><%= _("Source RPM:") %> <%= @srpm.name %></div>
  </div>
</div>

<div>
<p class="break" />
<span class="vkladka">&nbsp;<%= link_to _("Main"), srpm_path(:id => @srpm.name, :branch => @srpm.branch.name), :class => 'news', :title => _("information about SRPM") %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Changelog"), changelog_srpm_path(:id => @srpm.name, :branch => @srpm.branch.name), :class => 'news', :title => _("full changelog") %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Spec"), spec_srpm_path(:id => @srpm.name, :branch => @srpm.branch.name), :class => 'news', :title => _("spec") %>&nbsp;</span><span class="underl">&nbsp;</span><span class="current">&nbsp;<b><%= _("Download") %></b>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Gear"), gear_srpm_path(:id => @srpm.name), :class => 'news', :title => _("this package in gear repositories") %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Bugs and FR"), bugs_srpm_path(:id => @srpm.name), :class => 'news', :title => _("list of bugs and feature requests") %>&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Repocop"), repocop_srpm_path(:id => @srpm.name), :class => 'news', :title => _("repocop bugreports") %>&nbsp;</span>

<script type="text/javascript">
<!--
function changeHref (val){
  <% counter = 0 %>
  <% if @branch.name == 'SisyphusARM' %>
    url<%= counter %> = "<%= @branch.path + '/arm/SRPMS.all/' + @srpm.filename %>";
  <% else %>
    url<%= counter %> = "<%= @branch.path + '/files/SRPMS/' + @srpm.filename %>";
  <% end %>
  <% counter += 1 %>

  <% if @i586.count != 0 %>
    <% @i586.each do |i| %>
      url<%= counter %> = "<%= @branch.path + '/files/i586/RPMS/' + i.filename %>";
      <% counter += 1 %>
    <% end %>
  <% end %>

  <% if @noarch.count != 0 %>
    <% @noarch.each do |n| %>
      <% if @branch.name == 'SisyphusARM' %>
        url<%= counter %> = "<%= @branch.path + '/files/arm/RPMS/' + n.filename %>";
      <% else %>
        url<%= counter %> = "<%= @branch.path + '/files/noarch/RPMS/' + n.filename %>";
      <% end %>
      <% counter += 1 %>
    <% end %>
  <% end %>

  <% if @x86_64.count != 0 %>
    <% @x86_64.each do |x| %>
      url<%= counter %> = "<%= @branch.path + '/files/x86_64/RPMS/' + x.filename %>";
      <% counter += 1 %>
    <% end %>
  <% end %>

  for (i=0; i < <%= counter %> ; i++) {
    a = document.getElementById("pack_"+i);
    switch (val) {
    <% @mirrors.each do |mirror| %>
      case "<%= mirror.id %>": a.href = "<%= mirror.uri %>" + eval("url" + i); break;
    <% end %>
    }
  }
}
-->
</script>
<p />

&nbsp;<b><%= _("Choose a mirror:") %></b>
<select name="mirror" onchange="changeHref(this.value)" class="top-name" style="margin-left: 1em;">
<% @mirrors.each do |mirror| %>
  <%= "<option value=\"#{mirror.id}\">#{mirror.name}</option>".html_safe %>
<% end %>
</select>
<p />

<table>
  <tr>
    <td style="border-bottom: dotted 1px #aaa; padding-right: 1em;">
      <b>&middot;</b>
      <% if @branch.name == 'SisyphusARM' %>
        <a id="pack_0" href="ftp://ftp.altlinux.org/pub/distributions/ALTLinux<%= @branch.path %>/arm/SRPMS.all/<%= @srpm.filename %>" class="news"><%= @srpm.filename %></a>
      <% else %>
        <a id="pack_0" href="ftp://ftp.altlinux.org/pub/distributions/ALTLinux<%= @branch.path %>/files/SRPMS/<%= @srpm.filename %>" class="news"><%= @srpm.filename %></a>
      <% end %>
    </td>
    <td style="text-align: right;">
      <b><%= number_to_human_size(@srpm.size) %></b>
    </td>
  </tr>

<% counter = 1 %>

<% if @i586.count != 0 %>
 <tr><td><br><b>i586:</b></td></tr>
  <% @i586.each do |i| %>
  <tr><td style="border-bottom: dotted 1px #aaa; padding-right: 1em;">
		<b>&middot;</b>
	    <a id="pack_<%= counter %>" href="ftp://ftp.altlinux.org/pub/distributions/ALTLinux<%= @branch.path %>/files/i586/RPMS/<%= i.filename %>" class="news">
		  <%= i.filename %>
		</a>
		</td><td style="text-align: right;">
			<b><%= number_to_human_size(i.size) %></b>
		</td></tr>
	    <% counter += 1 %>	
  <% end %>
<% end %>

<% if @noarch.count != 0 %>
  <tr><td><br><b>noarch:</b></td></tr>
  <% @noarch.each do |n| %>
  <tr><td style="border-bottom: dotted 1px #aaa; padding-right: 1em;">
		<b>&middot;</b>
		<% if @branch.name == 'SisyphusARM' %>
		  <a id="pack_<%= counter %>" href="ftp://ftp.altlinux.org/pub/distributions/ALTLinux<%= @branch.path %>/files/arm/RPMS/<%= n.filename %>" class="news"><%= n.filename %>
		  </a>
		<% else %>
  		<a id="pack_<%= counter %>" href="ftp://ftp.altlinux.org/pub/distributions/ALTLinux<%= @branch.path %>/files/noarch/RPMS/<%= n.filename %>" class="news"><%= n.filename %>
  		</a>
		<% end %>
	</td><td style="text-align:right;">
		<b><%= number_to_human_size(n.size) %></b>
	</td></tr>
	<% counter += 1 %>
  <% end %>
<% end %>

<% if @x86_64.count != 0 %>
  <tr><td><br><b>x86_64:</b></td></tr>
  <% @x86_64.each do |x| %>
  <tr><td style="border-bottom: dotted 1px #aaa; padding-right: 1em;">
		<b>&middot;</b>
		<a id="pack_<%= counter %>" href="ftp://ftp.altlinux.org/pub/distributions/ALTLinux<%= @branch.path %>/files/x86_64/RPMS/<%= x.filename %>" class="news"><%= x.filename %>
		</a>
	</td><td style="text-align:right;">
		<b><%= number_to_human_size(x.size) %></b>
	</td></tr>
	<% counter += 1 %>
  <% end %>
<% end %>

<% if @arm.count != 0 %>
  <tr><td><br><b>arm:</b></td></tr>
  <% @arm.each do |a| %>
  <tr><td style="border-bottom: dotted 1px #aaa; padding-right: 1em;">
		<b>&middot;</b>
		<a id="pack_<%= counter %>" href="ftp://ftp.altlinux.org/pub/distributions/ALTLinux<%= @branch.path %>/arm/RPMS.classic/<%= a.filename %>" class="news"><%= a.filename %>
		</a>
	</td><td style="text-align:right;">
		<b><%= number_to_human_size(a.size) %></b>
	</td></tr>
	<% counter += 1 %>
  <% end %>
<% end %>

</table>
</div>

</div><div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div>

