<% title _("Prometheus 2.0 - Package %s - Repocop") % @srpm.name %>
<% description "#{@srpm.name} - #{@srpm.summary}" %>
<% keywords @srpm.summary %>

<div id='main-content'>

<div style="height:3em;"> 
    <div id="rpmtop">
        <%= render :partial => 'group' %>
        <div class="header" style="letter-spacing:1px;"><%= _('Source RPM:') %> <%= @srpm.name %></div>
    </div>
</div>

<div>
<p class="break" />
<span class="vkladka">&nbsp;<%= link_to _('Main'), srpm_path(@srpm.branch, @srpm), :class => 'news', :title => _('information about SRPM') %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _('Changelog'), changelog_srpm_path(@srpm.branch, @srpm), :class => 'news', :title => _('full changelog') %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _('Spec'), spec_srpm_path(@srpm.branch, @srpm), :class => 'news', :title => _('spec') %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _('Download'), get_srpm_path(@srpm.branch, @srpm), :class => 'news', :title => _('download latest version') %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _('Gear'), gear_srpm_path(@srpm), :class => 'news', :title => _('this package in gear repositories') %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _('Bugs and FR'), bugs_srpm_path(@srpm), :class => 'news', :title => _('list of bugs and feature requests') %>&nbsp;</span><span class="underl">&nbsp;</span><span class="current">&nbsp;<b><%= _('Repocop') %></b>&nbsp;</span><p class="news" /><br />

</div>
<table id="bugs" cellspacing="0" cellpadding="3">
  <tr>
    <th><%= _('package id') %></th>
    <th><%= _('status') %></th>
    <th><%= _('test') %></th>
    <th><%= _('message') %></th>
  </tr>

<% @srpm.repocops.each do |repocop| %>
  <% if repocop.status != 'skip' %>
  <tr>
    <td><%= repocop.name %>-<%= repocop.version %>-<%= repocop.release %>.<%= repocop.arch %></td>
    <td><%= image_tag(h(repocop.status) + '.png', :size => "20x20") %><br/><%= repocop.status %></td>
    <td><%= repocop.testname %></td>
    <td style="text-align:left">
      <% if repocop.message != '' %><%= repocop.message %><% else %>&nbsp;<% end %>
    </td>
  </tr>
  <% end %>
<% end %>

</table>

</div><div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div>
