<% title _("Prometheus 2.0 - Package ") + @srpm.name -%>

<div id='main-content'>

<div id="rightbar">
<div class="headleft">
<div class="headright" title="<%= _("ALT Linux repositories") %>">
  <%= _("ALT Linux repos") %>
</div>
<%= image_tag("collapse.gif", :id => 'topRPM', :class => 'close', :title => _("hide window"), :alt => _("hide window"), :size => "10x9") %>
</div>
<div id="topRPMDiv" style="border: dotted gray 1px; margin: 0px 4px 4px 4px;">
<table style="font-size:8pt;" width="100%">

<% @allsrpms.each do |rpm| -%>
<tr>
  <td style="text-align: left;">
    <%= link_to "#{rpm.branch.name}:", srpm_path(:id => rpm.name, :branch => rpm.branch.name), :class => 'news' %>
  </td>
  <td style="text-align: right;"><%= "#{rpm.version}-#{rpm.release}" %></td>
</tr>
<% end -%>

</table>
</div><br />
</div>

<div style="height:3em;">
  <div id="rpmtop">
    <%= render :partial => "group" %>
    <div class="header" style="letter-spacing:1px;"><%= _("Source RPM:") %> <%= @srpm.name %></div>
  </div>
</div>

<div>
<p class="break" />
<span class="current">&nbsp;<b><%= _("Main") %></b>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Changelog"), changelog_srpm_path(:id => @srpm.name, :branch => @srpm.branch.name), :class => 'news', :title => _("full changelog") %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Spec"), spec_srpm_path(:id => @srpm.name, :branch => @srpm.branch.name), :class => 'news', :title => _("spec") %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Download"), get_srpm_path(:id => @srpm.name, :branch => @srpm.branch.name), :class => 'news', :title => _("download latest version") %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Gear"), gear_srpm_path(:id => @srpm.name), :class => 'news', :title => _("this package in gear repositories") %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Bugs and FR"), bugs_srpm_path(:id => @srpm.name), :class => 'news', :title => _("list of bugs and feature requests") %>&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Repocop"), repocop_srpm_path(:id => @srpm.name), :class => 'news', :title => _("repocop bugreports") %>&nbsp;</span><p class="news" />
<b><%= _("Current version:") %></b> <span style="text-decoration:underline"><%= @srpm.version %>-<%= @srpm.release %></span><br />
<b><%= _("Build date:") %></b> <%= @srpm.buildtime %> (<%= time_ago_in_words(@srpm.buildtime) %> <%= _("ago") %>)<br />
<b><%= _("Size:") %></b> <%= number_to_human_size(@srpm.size) %><br /><br />

<% if !@srpm.url.nil? -%>
<b><%= _("Home page:") %></b> &nbsp; <%= link_to @srpm.url, @srpm.url, :class => 'news', :rel => 'nofollow' %><br /><br />
<% end -%>

<b><%= _("License:") %></b> <span class="news-text"><%= @srpm.license %></span><br />

<b><%= _("Summary:") %></b> <span class="news-text"><%= @srpm.summary %></span><br />
<b><%= _("Description:") %></b> <div class="para"><%= simple_format @srpm.description %></div>
<p class="news" />
<% if !@srpm.maintainer.nil? -%>
<div class="maintainer"><b><%= _("Current maintainer:") %></b>
<% if @srpm.maintainer.team == true -%>
  <%= link_to @srpm.maintainer.name, team_path(:id => @srpm.maintainer.login[1..-1], :branch => @branch.name), :class => 'news', :title => _('information about maintainer') %>
<% else -%>
  <%= link_to @srpm.maintainer.name, maintainer_path(:id => @srpm.maintainer.login, :branch => @branch.name), :class => 'news', :title => _('information about maintainer') %>
<% end -%>
</div><br /><br />
<% end -%>

<% if !@srpm.packages.nil? %>
<b><%= _("List of rpms provided by this srpm:") %></b>
<div class="para" style="margin-left: 0em;">
  <ul>
  <% @srpm.packages.map{|p| p.name }.sort.uniq.each do |name| %>
    <li><%= name %></li>
  <% end -%>
  </ul>
</div>
<% end %>

<% if !@srpm.acls.empty? %>
<b><%= _("ACL:") %></b>
<div class="para" style="margin-left: 0em;">
  <ul>
  <% @srpm.acls.each do |acl| -%>
    <% if acl.maintainer.team %>
      <li><%= link_to acl.maintainer.name, team_path(:id => acl.maintainer.login[1..-1], :branch => @branch.name), :class => 'news' %></li>
    <% else %>
      <li><%= link_to acl.maintainer.name, maintainer_path(:id => acl.maintainer.login, :branch => @branch.name), :class => 'news' %></li>
    <% end %>
  <% end -%>
  </ul>
</div>
<% end -%>
</div>

</div><div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div>
