<% title _('Prometheus 2.0 - Package &laquo;%s&raquo; - Spec') % @srpm.name %>
<% description "#{ @srpm.name } - #{ @srpm.summary }" %>
<% keywords @srpm.summary %>

<div id='main-content'>
   <div class="rightbar fat">
      <%= render partial: "shared/tables/srpm_list", locals: { branched_srpms: @srpms_by_name.as_json } %>
   </div>

<div style="height:3em;">
  <div id="rpmtop">
    <b style="font-size:9pt;"><%= _('Group') %> :: <%= _(@srpm.groupname) %></b><br>
    <div class="header" style="letter-spacing:1px;"><%= _('Source RPM:') %> <%= @srpm.name %></div>
  </div>
</div>

<div>
<%= render partial: "shared/srpms_menu", locals: { current_page: :spec, branch: @branch, srpm: @srpm, opened_bugs: @opened_bugs, all_bugs: @all_bugs, version: @version } %>

<% if @srpm.specfile %>
<%= link_to _('Raw spec file'), rawspec_srpm_path(@branch, @srpm), class: 'news', title: _('Raw spec file') %>

<br><br>

<% if @srpm.specfile.spec.force_encoding("UTF-8").valid_encoding? %>
  <%#= simple_format h(@srpm.specfile.spec.force_encoding("UTF-8").gsub('@altlinux', ' at altlinux')) %>
  <%= raw colorize_specfile @srpm.specfile.spec %>
<% else %>
  <%= _('Specfile is not UTF-8 valid.') %>
<% end %>

<% else %>
No imported yet.
<% end %>
</div>

</div><div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div>
