<% title _("Prometheus 2.0 - Package ") + @srpm.name + _(" - All bugs") -%>
<% url "/srpm/" + @srpm.branch.name + '/' + @srpm.name + "/allbugs" -%>

<div style="height:3em;">
    <div id="rpmtop">
        <%= render :partial => "group" %>
        <div class="header" style="letter-spacing:1px;"><%= _("Source RPM:") %> <%= @srpm.name %></div>
    </div>
</div>

<div>
<p class="break" />
<span class="vkladka">&nbsp;<%= link_to _("Main"), srpm_main_path(:branch => params[:branch], :name => params[:name]), :class => 'news', :title => _("information about SRPM") %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Changelog"), srpm_changelog(:branch => params[:branch], :name => params[:name]), :class => 'news', :title => _("full changelog") %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Spec"), srpm_rawspec_path(:branch => params[:branch], :name => params[:name]), :class => 'news', :title => _("spec") %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Download"), srpm_download_path(:branch => params[:branch], :name => params[:name]), :class => 'news', :title => _("download latest version") %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= params[:branch] %>/<%= params[:name] %>/gear" class="news" title="<%= _("this package in gear repositories") %>"><%= _("Gear") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="current">&nbsp;<b><%= _("Bugs and FR") %></b>&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= params[:branch] %>/<%= params[:name] %>/repocop" class="news" title="<%= _("repocop bugreports") %>"><%= _("Repocop") %></a>&nbsp;</span><p class="news" /><br />

<b><%= _("Total:") %></b> <%= @allbugs.count %> (<span style='color:red'><%= @bugs.count %></span>|<%= @allbugs.count - @bugs.count %>)

<div style="text-align:left;margin-left:2em;margin-top:1.5em;">
<span class="tabunsel">&nbsp;<%= link_to _("open"), srpm_bugs_path(:branch => params[:branch], :name => params[:name]), :class => 'news' %>&nbsp;</span>
<span class="tabsel">&nbsp;<%= _("total") %>&nbsp;</span>
</div>

<table id="bugs" cellspacing="0" cellpadding="3" class="sortable">
  <tr>
    <th class="sort"><%= _("id") %></th>
    <th><%= _("severity") %></th>
    <th><%= _("status") %></th>
    <th><%= _("resolution") %></th>
    <th><%= _("reporter") %></th>
    <th><%= _("summary") %></th>
  </tr>

  <% @allbugs.each do |bug| -%>
  <tr>
    <td><%= link_to bug.bug_id, 'https://bugzilla.altlinux.org/' + bug.bug_id.to_s, :class => 'news' %></td>
    <td><%= bug.bug_severity %></td>
    <td><%= bug.bug_status %></td>
    <td><%= bug.resolution %></td>
    <td><%= bug.reporter.gsub('@', ' at ') %></td>
    <td style="text-align:left">
      <%= bug.short_desc %>
    </td>
  </tr>
  <% end -%>

</table>

</div>

</div><div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div>
