<% srpm_count h(@package_counter) -%>
<% title _("Prometheus 2.0 - Package ") + h(@srpm.name) + _(" - Download") -%>
<% url "/srpm/" + h(@srpm.branch) + '/' + h(@srpm.name) + "/get" -%>

<div id="rightbar">
<div class="headleft">
<div class="headright" title="<%=h _("ALT Linux repositories") %>">
  <%=h _("ALT Linux repos") %>
</div>
<img id="topRPM" src="/images/collapse.gif" class="close" title="<%=h _("hide window") %>" alt="<%=h _("hide window") %>" />
</div>
<div id="topRPMDiv" style="border: dotted gray 1px;margin: 0px 4px 4px 4px;">
<table style="font-size:8pt;" width="100%">

<% @allsrpms.each do |rpm| -%>
<tr>
  <td style="text-align: left;">
    <%= link_to h(rpm.branch) + ':', '/' + h(params[:locale]) + '/srpm/' + h(rpm.branch) + '/' + h(rpm.name) + '/get', :class => 'news' %>
  </td>
  <td style="text-align: right;"><%=h rpm.version %>-<%=h rpm.release %></td>
</tr>
<% end -%>

</table>
</div><br />
</div>

<div style="height:3em;">
  <div id="rpmtop">
    <b style="font-size:9pt;"><%=h _("Group") %> :: <%=h @srpm.group %></b><br />
    <div class="header" style="letter-spacing:1px;"><%=h _("Source RPM:") %> <%=h @srpm.name %></div>
  </div>
</div>

<div>
<p class="break" />
<span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch %>/<%=h @srpm.name %>" class="news" title="<%=h _("information about SRPM") %>"><%=h _("Main") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch %>/<%=h @srpm.name %>/changelog" class="news" title="<%=h _("full changelog") %>"><%=h _("Changelog") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch %>/<%=h @srpm.name %>/spec" class="news" title="<%=h _("spec") %>"><%=h _("Spec") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="current">&nbsp;<b><%=h _("Download") %></b>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch %>/<%=h @srpm.name %>/gear" class="news" title="<%=h _("this package in gear repositories") %>"><%=h _("Gear") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch %>/<%=h @srpm.name %>/bugs" class="news" title="<%=h _("list of bugs and feature requests") %>"><%=h _("Bugs and FR") %></a>&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch %>/<%=h @srpm.name %>/repocop" class="news" title="<%=h _("repocop bugreports") %>"><%=h _("Repocop") %></a>&nbsp;</span>

<script type="text/javascript">
<!--
function changeHref (val){
  <% counter = 0 -%>
  url<%=h counter %> = "<%=h '/Sisyphus/files/SRPMS/' + @srpm.filename %>";
  <% counter += 1 -%>

  <% if @i586.count != 0 -%>
    <% @i586.each do |i| -%>
      url<%=h counter %> = "<%=h '/Sisyphus/files/i586/RPMS/' + i.filename %>";
      <% counter += 1 -%>
	<% end -%>
  <% end -%>

  <% if @noarch.count != 0 -%>
    <% @noarch.each do |n| -%>
      url<%=h counter %> = "<%=h '/Sisyphus/files/noarch/RPMS/' + n.filename %>";
      <% counter += 1 -%>
	<% end -%>
  <% end -%>

  <% if @x86_64.count != 0 -%>
    <% @x86_64.each do |x| -%>
      url<%=h counter %> = "<%=h '/Sisyphus/files/x86_64/RPMS/' + x.filename %>";
      <% counter += 1 -%>
	<% end -%>
  <% end -%>
	
  for (i=0; i < <%=h counter %> ; i++) {
    a = document.getElementById("pack_"+i);
	switch (val) {
	  case "0":	 a.href = "ftp://ftp.altlinux.org/pub/distributions/ALTLinux"+eval("url"+i); break;
	  case "1":	 a.href = "ftp://ftp.anyhost.ru/pub/altlinux"+eval("url"+i); break;
	  case "2":	 a.href = "ftp://ftp.chg.ru/pub/Linux/ALTLinux"+eval("url"+i); break;
	  case "3":	 a.href = "ftp://ftp.ilim.ru/pub/Linux/Distrib/ALTLinux"+eval("url"+i); break;
	  case "4":	 a.href = "ftp://ftp.impb.psn.ru/pub/distributions/ALTLinux"+eval("url"+i); break;
	  case "5":	 a.href = "ftp://ftp.linux.kiev.ua/pub/Linux/ALT"+eval("url"+i); break;
	  case "6":	 a.href = "ftp://ftp.mobicomk.ru/pub/distributions/ALTLinux"+eval("url"+i); break;
	  case "7":	 a.href = "ftp://ftp.unixcenter.ru/ALTLinux"+eval("url"+i); break;
	  case "8":	 a.href = "ftp://linux4u.jinr.ru/pub/ALTLinux"+eval("url"+i); break;
	  case "9":	 a.href = "ftp://mirror.yandex.ru/altlinux"+eval("url"+i); break;
	  case "10": a.href = "http://mirror.yandex.ru/altlinux"+eval("url"+i); break;
	}
  }
}
-->
</script>
<p />

&nbsp;<b><%=h _("Choose a mirror:") %></b>
<select name="mirror" onchange="changeHref(this.value)" class="top-name" style="margin-left:1em;">
  <option value="0" selected="selected">ftp.altlinux.org</option>
  <option value="1">ftp.anyhost.ru</option>
  <option value="2">ftp.chg.ru</option>
  <option value="3">ftp.ilim.ru</option>
  <option value="4">ftp.impb.psn.ru</option>
  <option value="5">ftp.linux.kiev.ua</option>
  <option value="6">ftp.mobicomk.ru</option>
  <option value="7">ftp.unixcenter.ru</option>
  <option value="8">linux4u.jinr.ru</option>
  <option value="9">mirror.yandex.ru</option>
  <option value="10">mirror.yandex.ru</option>
</select>
<p />

<table>
  <tr>
	<td style="border-bottom:dotted 1px #aaa; padding-right:1em;">
	  <b>&middot;</b>
		<a id="pack_0" href="ftp://ftp.altlinux.org/pub/distributions/ALTLinux/Sisyphus/files/SRPMS/<%=h @srpm.filename %>" class="news"><%=h @srpm.filename %></a>
	</td>
	<td style="text-align:right;">
		<b><%= number_to_human_size(@srpm.size) %></b>
	</td>
  </tr>

<% counter = 1 -%>

<% if @i586.count != 0 -%>
  <tr><td><br><b>i586:</b></td></tr>
  <% @i586.each do |i| -%>
  <tr><td style="border-bottom:dotted 1px #aaa; padding-right:1em;">
		<b>&middot;</b>
	    <a id="pack_<%=h counter %>" href="ftp://ftp.altlinux.org/pub/distributions/ALTLinux/Sisyphus/files/i586/RPMS/<%=h i.filename %>" class="news">
		  <%=h i.filename %>
		</a>
		</td><td style="text-align:right;">
			<b><%= number_to_human_size(i.size) %></b>
		</td></tr>
	    <% counter += 1 -%>	
  <% end -%>
<% end -%>

<% if @noarch.count != 0 -%>
  <tr><td><br><b>noarch:</b></td></tr>
  <% @noarch.each do |n| -%>
  <tr><td style="border-bottom:dotted 1px #aaa; padding-right:1em;">
		<b>&middot;</b>
		<a id="pack_<%=h counter %>" href="ftp://ftp.altlinux.org/pub/distributions/ALTLinux/Sisyphus/files/noarch/RPMS/<%=h n.filename %>" class="news"><%=h n.filename %>
		</a>
	</td><td style="text-align:right;">
		<b><%= number_to_human_size(n.size) %></b>
	</td></tr>
	<% counter += 1 -%>
  <% end -%>
<% end -%>

<% if @x86_64.count != 0 -%>
  <tr><td><br><b>x86_64:</b></td></tr>
  <% @x86_64.each do |x| -%>
  <tr><td style="border-bottom:dotted 1px #aaa; padding-right:1em;">
		<b>&middot;</b>
		<a id="pack_<%=h counter %>" href="ftp://ftp.altlinux.org/pub/distributions/ALTLinux/Sisyphus/files/x86_64/RPMS/<%=h x.filename %>" class="news"><%=h x.filename %>
		</a>
	</td><td style="text-align:right;">
		<b><%= number_to_human_size(x.size) %></b>
	</td></tr>
	<% counter += 1 -%>
  <% end -%>
<% end -%>

</table>

