<% title _("Prometheus 2.0 - Package ") + @srpm.name + _(" - Gear") -%>
<% url "/srpm/" + @srpm.branch.name + '/' + @srpm.name + "/gear" -%>

<div style="height:3em;">
    <div id="rpmtop">
        <b style="font-size:9pt;"><%= _("Group") %> :: <%= @srpm.group.name %></b><br />
        <div class="header" style="letter-spacing:1px;"><%= _("Source RPM:") %> <%= @srpm.name %></div>
    </div>
</div>
<div>
<p class="break" />
<span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch.name %>/<%= @srpm.name %>" class="news" title="<%= _("information about SRPM") %>"><%= _("Main") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch.name %>/<%= @srpm.name %>/changelog" class="news" title="<%= _("full changelog") %>"><%= _("Changelog") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch.name %>/<%= @srpm.name %>/spec" class="news" title="<%= _("spec") %>"><%= _("Spec") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch.name %>/<%= @srpm.name %>/get" class="news" title="<%= _("download latest version") %>"><%= _("Download") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="current">&nbsp;<b><%= _("Gear") %></b>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch.name %>/<%= @srpm.name %>/bugs" class="news" title="<%= _("list of bugs and feature requests") %>"><%= _("Bugs and FR") %></a>&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch.name %>/<%= @srpm.name %>/repocop" class="news" title="<%= _("repocop bugreports") %>"><%= _("Repocop") %></a>&nbsp;</span><div>

<% if @gitrepos.count != 0 -%>
<table style="pretty">
  <% @gitrepos.each do |gitrepo| -%>
    <tr>
      <td style="border-bottom: #aaa dotted 1px; padding-right:1em;">&middot;
        <% login = gitrepo.login -%>
        <% login = 'php_coder' if gitrepo.login == 'php-coder' -%>
        <%= link_to gitrepo.packager.name, 'http://git.altlinux.org/people/' + login + '/packages/?p=' + @srpm.name + '.git', :class => 'news' %> (<%= gitrepo.login %>@)
      </td>
      <td><%= gitrepo.lastchange %></td>
    </tr>
  <% end -%>
</table>
<% end -%>
</div>
</div>
