<% title _("Prometheus 2.0 - Package ") + h(@srpm.name) + _(" - Gear") -%>
<% url "/srpm/" + h(@srpm.branch) + '/' + h(@srpm.name) + "/gear" -%>

<div style="height:3em;">
    <div id="rpmtop">
        <b style="font-size:9pt;"><%=h _("Group") %> :: <%=h @srpm.group %></b><br />
        <div class="header" style="letter-spacing:1px;"><%=h _("Source RPM:") %> <%=h @srpm.name %></div>
    </div>
</div>
<div>
<p class="break" />
<span class="vkladka">&nbsp;<a href="/srpm/<%=h @srpm.branch %>/<%=h @srpm.name %>" class="news" title="<%=h _("information about SRPM") %>"><%=h _("Main") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/srpm/<%=h @srpm.branch %>/<%=h @srpm.name %>/changelog" class="news" title="<%=h _("full changelog") %>"><%=h _("Changelog") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/srpm/<%=h @srpm.branch %>/<%=h @srpm.name %>/spec" class="news" title="<%=h _("spec") %>"><%=h _("Spec") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/srpm/<%=h @srpm.branch %>/<%=h @srpm.name %>/get" class="news" title="<%=h _("download latest version") %>"><%=h _("Download") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="current">&nbsp;<b><%=h _("Gear") %></b>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/srpm/<%=h @srpm.branch %>/<%=h @srpm.name %>/bugs" class="news" title="<%=h _("list of bugs and feature requests") %>"><%=h _("Bugs and FR") %></a>&nbsp;</span><span class="vkladka">&nbsp;<a href="/srpm/<%=h @srpm.branch %>/<%=h @srpm.name %>/repocop" class="news" title="<%=h _("repocop bugreports") %>"><%=h _("Repocop") %></a>&nbsp;</span><div>

<% if @gitrepos.count != 0 -%>
<table style="pretty">
  <% @gitrepos.each do |gitrepo| -%>
    <tr><td style="border-bottom: #aaa dotted 1px; padding-right:1em;">&middot;<!--<a href="http://git.altlinux.org/people/ldv/packages/?p=glibc.git" class="news">Dmitry V. Levin <ldv@altlinux.org></a>-->
<% login = gitrepo.login -%>
<% login = 'php_coder' if gitrepo.login == 'php-coder' -%>
<%= link_to h(gitrepo.login), 'http://git.altlinux.org/people/' + h(login) + '/packages/?p=' + h(@srpm.name) + '.git', :class => 'news' %>
</td><td><%=h gitrepo.lastchange %></td></tr>
  <% end -%>
</table>
<% end -%>
</div>
</div>
