<% srpm_count @sisyphus.srpms.all.count %>
<% title _("Prometheus 2.0 - Package ") + h(@srpm.name) + _(" - Gear") %>
<% url "/srpm/" + h(@srpm.branch.urlname) + '/' + h(@srpm.name) + "/gear" %>

<!--
<div id="rightbar">
<div class="headleft">
<div class="headright" title="ALT Linux repositories">
ALT Linux repos
</div>
<img id="topRPM" src="/images/collapse.gif" class="close" onclick="imgSwap('topRPM')"  />
</div>
<div id="topRPMDiv" style="border: dotted gray 1px;margin: 0px 4px 4px 4px;">
<table style="font-size:8pt;" width="100%">

<tr><td style="text-align: left;"><a class="news" href="/en/srpm/Sisyphus/glibc/gear">S:</a></td><td style="text-align: right;">2.10.1-alt6</td></tr>
<tr><td style="text-align: left;"><a class="news" href="/en/srpm/Branch5/glibc/gear">5.0:</a></td>
<td style="text-align: right;">2.9-alt5</td></tr>
<tr><td style="text-align: left;"><a class="news" href="/en/srpm/Branch41/glibc/gear">4.1:</a></td>
<td style="text-align: right;">2.5.1-alt4</td></tr>
<tr><td style="text-align: left;"><a class="news" href="/en/srpm/Branch4/glibc/gear">4.0:</a></td>
<td style="text-align: right;">2.5-alt4</td></tr>
<tr><td style="text-align: left;"><a class="news" href="/en/srpm/Branch3/glibc/gear">3.0:</a></td>
<td style="text-align: right;">2.3.5-alt5</td></tr>

</table>
</div><br />

<div class="headleft">
<div class="headright" title="Other repositories">
Other repositories
</div>
<img id="otherREPO" src="/images/collapse.gif" class="close" onclick="imgSwap('otherREPO')"  />
</div>
<div id="otherREPODiv" style="border: dotted gray 1px;margin: 0px 4px 4px 4px;">
<table style="font-size:8pt;" width="100%">
<tr><td style="text-align: left;"><a class="news" href="ftp://ftp.gnu.org/gnu/glibc/glibc-2.7.tar.gz">Upstream:</a></td><td style="text-align: right;">2.7</td></tr>
</table>
</div><br />
</div>-->

<div style="height:3em;">
    <div id="rpmtop">
        <b style="font-size:9pt;">Group :: <%=h @srpm.group.name %></b><br />
        <div class="header" style="letter-spacing:1px;">Source RPM: <%=h @srpm.name %></div>
    </div>
<!--    <div id="nav">
    <b>Navigation</b><br />
    <a href="/en/srpm/glib">
	<img src="/images/stock_left.png" style="border: 0px" alt="&lt;"
	title="previous srpm of this packager" />
</a>
 &nbsp;

<a href="/en/srpm/gmp" class="news">
	<img src="/images/stock_right.png" style="border: 0px" alt="&gt;"
	title="next srpm of this packager" />
</a>
 &nbsp;  &nbsp;

<a href="/en/srpm/gettext" class="news">
	<img src="/images/stock_left-with-subpoints.png" style="border: 0px" alt="&lt;&lt;"
	title="previous srpm of this group" />
</a>
 &nbsp;

<a href="/en/srpm/glusterfs" class="news">
	<img src="/images/stock_right-with-subpoints.png" style="border: 0px" alt="&gt;&gt;"
	title="next srpm of this group" />
</a>

    </div>-->
</div>
<div>
<p class="break" />
<span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch.urlname %>/<%=h @srpm.name %>" class="news" title="information about SRPM">Main</a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch.urlname %>/<%=h @srpm.name %>/changelog" class="news" title="full changelog">Changelog</a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch.urlname %>/<%=h @srpm.name %>/spec" class="news" title="spec">Spec</a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch.urlname %>/<%=h @srpm.name %>/patches" class="news" title="patches">Patches</a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch.urlname %>/<%=h @srpm.name %>/sources" class="news" title="Sources">Sources</a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch.urlname %>/<%=h @srpm.name %>/get" class="news" title="download latest version">Download</a>&nbsp;</span><span class="underl">&nbsp;</span><span class="current">&nbsp;<b>Gear</b>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch.urlname %>/<%=h @srpm.name %>/bugs" class="news" title="List of bugs and feature requests">Bugs and FR</a>&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch.urlname %>/<%=h @srpm.name %>/repocop" class="news" title="Repocop bugreport">Repocop</a>&nbsp;</span><div>
<% if @gitrepos.count != 0 %>
<table style="pretty">
  <% @gitrepos.each do |g| %>
    <tr><td style="border-bottom: #aaa dotted 1px; padding-right:1em;">&middot;<!--<a href="http://git.altlinux.org/people/ldv/packages/?p=glibc.git" class="news">Dmitry V. Levin <ldv@altlinux.org></a>-->
<%= link_to h(g.login), 'http://git.altlinux.org/people/' + h(g.login) + '/packages/?p=' + h(@srpm.name) + '.git', :class => 'news' %>
</td><td><%=h g.lastchange %></td></tr>
  <% end %>
</table>
<% end %>
</div>
</div>
