<% srpm_count @sisyphus.srpms.all.count -%>
<% title _("Prometheus 2.0 - Package ") + h(@srpm.name) + _(" - Repocop") -%>
<% url "/srpm/" + h(@srpm.branch.urlname) + '/' + h(@srpm.name) + "/repocop" -%>

<!--
<div id="rightbar">
<div class="headleft">
<div class="headright" title="ALT Linux repositories">
ALT Linux repos
</div>
<img id="topRPM" src="/images/collapse.gif" class="close" onclick="imgSwap('topRPM')"  />
</div>
<div id="topRPMDiv" style="border: dotted gray 1px;margin: 0px 4px 4px 4px;">
<table style="font-size:8pt;" width="100%">

<tr><td style="text-align: left;"><a class="news" href="/en/srpm/Sisyphus/evince/repocop">S:</a></td><td style="text-align: right;">2.26.2-alt1</td></tr>
<tr><td style="text-align: left;"><a class="news" href="/en/srpm/Branch5/evince/repocop">5.0:</a></td>
<td style="text-align: right;">2.26.1-alt1</td></tr>
<tr><td style="text-align: left;"><a class="news" href="/en/srpm/Branch41/evince/repocop">4.1:</a></td>

<td style="text-align: right;">2.22.2-alt0.M41.1</td></tr>
<tr><td style="text-align: left;"><a class="news" href="/en/srpm/Branch4/evince/repocop">4.0:</a></td>
<td style="text-align: right;">2.19.92-alt1</td></tr>
<tr><td style="text-align: left;"><a class="news" href="/en/srpm/Branch3/evince/repocop">3.0:</a></td>
<td style="text-align: right;">0.3.2-alt0.1</td></tr>

</table>
</div><br />

<div class="headleft">
<div class="headright" title="Other repositories">
Other repositories

</div>
<img id="otherREPO" src="/images/collapse.gif" class="close" onclick="imgSwap('otherREPO')"  />
</div>
<div id="otherREPODiv" style="border: dotted gray 1px;margin: 0px 4px 4px 4px;">
<table style="font-size:8pt;" width="100%">
<tr><td style="text-align: left;"><a class="news" href="http://ftp.gnome.org/pub/gnome/sources/evince/2.22/evince-2.22.0.tar.gz">Upstream:</a></td><td style="text-align: right;">2.22.0</td></tr>
</table>
</div><br />
</div>-->

<div style="height:3em;"> 
    <div id="rpmtop">
        <b style="font-size:9pt;"><%=h _("Group") %> :: <%=h @srpm.group.name %></b><br />
        <div class="header" style="letter-spacing:1px;"><%=h _("Source RPM:") %> <%=h @srpm.name %></div>
    </div>
<!--    <div id="nav">
    <b>Navigation</b><br />
    <a href="/en/srpm/ekiga">
	<img src="/images/stock_left.png" style="border: 0px" alt="&lt;"
	title="previous srpm of this packager" />
</a>
 &nbsp;

<a href="/en/srpm/ffmpeg2theora" class="news">
	<img src="/images/stock_right.png" style="border: 0px" alt="&gt;"
	title="next srpm of this packager" />
</a>
 &nbsp;  &nbsp;

<a href="/en/srpm/epdfview" class="news">
	<img src="/images/stock_left-with-subpoints.png" style="border: 0px" alt="&lt;&lt;"
	title="previous srpm of this group" />
</a>
 &nbsp;

<a href="/en/srpm/evince-gtk" class="news">

	<img src="/images/stock_right-with-subpoints.png" style="border: 0px" alt="&gt;&gt;"
	title="next srpm of this group" />
</a>

    </div>-->
</div>
<div>
<p class="break" />
<span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch.urlname %>/<%=h @srpm.name %>" class="news" title="<%=h _("information about SRPM") %>"><%=h _("Main") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch.urlname %>/<%=h @srpm.name %>/changelog" class="news" title="<%=h _("full changelog") %>"><%=h _("Changelog") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch.urlname %>/<%=h @srpm.name %>/spec" class="news" title="<%=h _("spec") %>"><%=h _("Spec") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch.urlname %>/<%=h @srpm.name %>/patches" class="news" title="<%=h _("patches") %>"><%=h _("Patches") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch.urlname %>/<%=h @srpm.name %>/sources" class="news" title="<%=h _("sources") %>"><%=h _("Sources") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch.urlname %>/<%=h @srpm.name %>/get" class="news" title="<%=h _("download latest version") %>"><%=h _("Download") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch.urlname %>/<%=h @srpm.name %>/gear" class="news" title="<%=h _("this package in gear repositories") %>"><%=h _("Gear") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%=h params[:locale] %>/srpm/<%=h @srpm.branch.urlname %>/<%=h @srpm.name %>/bugs" class="news" title="<%=h _("list of bugs and feature requests") %>"><%=h _("Bugs and FR") %></a>&nbsp;</span><span class="current">&nbsp;<b><%=h _("Repocop") %></b>&nbsp;</span><p class="news" /><br />

</div>
<table id="bugs" cellspacing="0" cellpadding="3" class="sortable">
  <tr>
    <th class="sort"><%=h _("package id") %></th>
    <th id="repocop" class="sort"><%=h _("status") %></th>
    <th class="sort"><%=h _("test") %></th>
    <th class="sort"><%=h _("message") %></th>
  </tr>

<% @srpm.repocops.each do |repocop| -%>
  <% if repocop.status != 'skip' -%>
  <tr>
    <td><%=h repocop.name %>-<%=h repocop.version %>-<%=h repocop.release %>.<%=h repocop.arch %></td>
    <td><%= image_tag(repocop.status + '.png', :size => "20x20") %><br/><%=h repocop.status %></td>
    <td><%=h repocop.testname %></td>
    <td style="text-align:left">
      <% if repocop.message != '' %><%=h repocop.message %><% else %>&nbsp;<% end %>
    </td>
  </tr>
  <% end -%>
<% end -%>

</table>
