<% title _("Prometheus 2.0 - Package ") + @srpm.name + _(" - Repocop") -%>
<% url "/srpm/" + @srpm.branch.name + '/' + @srpm.name + "/repocop" -%>

<div style="height:3em;"> 
    <div id="rpmtop">
        <b style="font-size:9pt;"><%= _("Group") %> :: <%= @srpm.group.name %></b><br />
        <div class="header" style="letter-spacing:1px;"><%= _("Source RPM:") %> <%= @srpm.name %></div>
    </div>
</div>
<div>
<p class="break" />
<span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch %>/<%= @srpm.name %>" class="news" title="<%= _("information about SRPM") %>"><%= _("Main") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch %>/<%= @srpm.name %>/changelog" class="news" title="<%= _("full changelog") %>"><%= _("Changelog") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch %>/<%= @srpm.name %>/spec" class="news" title="<%= _("spec") %>"><%= _("Spec") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch %>/<%= @srpm.name %>/get" class="news" title="<%= _("download latest version") %>"><%= _("Download") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch %>/<%= @srpm.name %>/gear" class="news" title="<%= _("this package in gear repositories") %>"><%= _("Gear") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch %>/<%= @srpm.name %>/bugs" class="news" title="<%= _("list of bugs and feature requests") %>"><%= _("Bugs and FR") %></a>&nbsp;</span><span class="current">&nbsp;<b><%= _("Repocop") %></b>&nbsp;</span><p class="news" /><br />

</div>
<table id="bugs" cellspacing="0" cellpadding="3" class="sortable">
  <tr>
    <th class="sort"><%= _("package id") %></th>
    <th id="repocop" class="sort"><%= _("status") %></th>
    <th class="sort"><%= _("test") %></th>
    <th class="sort"><%= _("message") %></th>
  </tr>

<% @srpm.repocops.each do |repocop| -%>
  <% if repocop.status != 'skip' -%>
  <tr>
    <td><%= repocop.name %>-<%= repocop.version %>-<%= repocop.release %>.<%= repocop.arch %></td>
    <td><%= image_tag(h(repocop.status) + '.png', :size => "20x20") %><br/><%= repocop.status %></td>
    <td><%= repocop.testname %></td>
    <td style="text-align:left">
      <% if repocop.message != '' %><%= repocop.message %><% else %>&nbsp;<% end %>
    </td>
  </tr>
  <% end -%>
<% end -%>

</table>
