<% title _('Prometheus 2.0 - Package &laquo;%s&raquo; - Bugs') % @srpm.name %>
<% description "#{ @srpm.name } - #{ @srpm.summary }" %>
<% keywords @srpm.summary %>

<div id='main-content'>

<div style="height:3em;">
  <div id="rpmtop">
    <b style="font-size:9pt;"><%= _('Group') %> :: <%= _(@srpm.groupname) %></b><br>
    <div class="header" style="letter-spacing:1px;"><%= _('Source RPM:') %> <%= @srpm.name %></div>
  </div>
</div>

<div>
<%= render partial: "shared/srpms_menu", locals: { current_page: :bugs, branch: @branch, srpm: @srpm, opened_bugs: @opened_bugs, all_bugs: @all_bugs, version: @version } %>

<% if @all_bugs.count == 0 %>

<b><%= _('There are no bugreports against this package') %></b>

<% else %>

<b><%= _('Total:') %></b> <%= @all_bugs.count %> (<span style='color:red'><%= @opened_bugs.count %></span>|<%= @all_bugs.count - @opened_bugs.count %>)

<div style="text-align:left;margin-left:2em;margin-top:1.5em;">
<span class="tabsel">&nbsp;<%= _('open') %>&nbsp;</span>
<span class="tabunsel">&nbsp;<%= link_to _('open'), @version && versioned_allbugs_srpm_path(id: params[:id], version: @version) || allbugs_srpm_path(id: params[:id]), class: 'news' %>&nbsp;</span>
</div>

<table id="bugs" cellspacing="0" cellpadding="3">
  <tr>
    <th><%= _('id') %></th>
    <th><%= _('severity') %></th>
    <th><%= _('status') %></th>
    <th><%= _('reporter') %></th>
    <th><%= _('summary') %></th>
  </tr>

  <% @opened_bugs.each do |bug| %>
    <tr>
      <td>
        <%= bug.link_to_bugzilla %>
      </td>
      <td><%= bug.bug_severity %></td>
      <td><%= bug.bug_status %></td>
      <td><%= bug.reporter.gsub('@', ' at ') %></td>
      <td style="text-align: left">
        <%= bug.short_desc %>
      </td>
    </tr>
  <% end %>
</table>

<% end %>

</div>

</div><div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div>
