<% title _('Prometheus 2.0 - Package &laquo;%s&raquo;') % @srpm_show.srpm.name %>
<% description "#{@srpm_show.srpm.name} - #{@srpm_show.srpm.summary}" %>
<% keywords @srpm_show.srpm.summary %>

<div class="span8">
  <h2><%= _('Source RPM:') %> <%= @srpm_show.srpm.name %></h2>

  <%= render 'links', branch: @srpm_show.branch, srpm: @srpm_show.srpm %>

  <b><%= _('Current version:') %></b> <%= @srpm_show.srpm.evr %><br>
  <b><%= _('Built:') %></b> <abbr title="<%= @srpm_show.srpm.buildtime %>"><%= time_ago_in_words(@srpm_show.srpm.buildtime) %> <%= _('ago') %></abbr><br>

  <%= render 'ftbfs', ftbfs: @srpm_show.ftbfs %>

  <b><%= _('Size:') %></b> <%= number_to_human_size(@srpm_show.srpm.size) %><br><br>

  <% if @srpm_show.srpm.url %>
    <b><%= _('Home page:') %></b> <%= link_to @srpm_show.srpm.url, @srpm_show.srpm.url, rel: 'nofollow' %><br><br>
  <% end %>

  <b><%= _('Summary:') %></b> <%= @srpm_show.srpm.summary %><br>
  <b><%= _('License:') %></b> <%= @srpm_show.srpm.license %><br>
  <b><%= _('Group:') %></b> <%= @srpm_show.srpm.groupname %><br>

  <b><%= _('Description:') %></b> <%= simple_format h(@srpm_show.srpm.description) %>

<% if @leader %>
  <b><%= _('Current maintainer:') %></b>
  <% if @leader.class.to_s == 'MaintainerTeam' %>
    <%= link_to "<i class='icon-group'></i> ".html_safe + @leader.name,
                team_path(@branch, @leader.login[1..-1]),
                title: _('information about maintainer') %>
  <% else %>
    <%= link_to "<i class='icon-user'></i> ".html_safe + _(@leader.name),
                maintainer_path(@branch, @leader),
                title: _('information about maintainer') %>
  <% end %>
  <br>
<% end %>

<% if @contributors %>
  <b><%= _('List of contributors:').html_safe %></b>
  <ul class="unstyled">
    <% @contributors.each do |contributor| %>
      <li>
        <%= link_to "<i class='icon-fixed-width icon-user'></i> ".html_safe + _(contributor.name),
                    maintainer_path(@branch, contributor),
                    title: _('information about maintainer') %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @maintainers || @teams %>
  <b><%= _('ACL:') %></b>
  <ul class="unstyled">
  <% @maintainers.each do |maintainer| %>
    <li class="unstyled">
      <%= link_to "<i class='icon-fixed-width icon-user'></i> ".html_safe + _(maintainer.name),
                  maintainer_path(@branch, maintainer),
                  title: _('information about maintainer') %>
    </li>
  <% end %>
  <% @teams.each do |team| %>
    <li class="unstyled">
      <%= link_to "<i class='icon-fixed-width icon-group'></i> ".html_safe + team.name,
                  team_path(@branch, team.login[1..-1]) %>
    </li>
  <% end %>
  </ul>
<% end %>

  <%= render 'packages', packages: @srpm_show.srpm.packages %>
</div>

<div class="span2">
  <%= _('ALT Linux repositories') %><br>
  <ul class="unstyled">
    <% @srpm_show.allsrpms.each do |rpm| %>
      <li>
        <%= link_to "#{rpm.branch.name}:", srpm_path(rpm.branch, rpm) %> <%= "#{rpm.version}-#{rpm.release}" %>
      </li>
    <% end %>
  </ul>

  <% if @srpm_show.perl_watch %>
    <br>
    <%= _('Other repositories') %><br>
    <ul class="unstyled">
      <li>
        <a class="news" href="http://search.cpan.org/CPAN/authors/id/<%= @perl_watch.path %>" rel='nofollow'><%= _('CPAN:') %></a>
        <%= @srpm_show.perl_watch.version %>
      </li>
    </ul>
  <% end %>
</div>
