.toolbar
  %h1{ :id => 'pageTitle' }
  %a{ :id => 'backButton', :class => 'button', :href => '#' }
  %a{ :class => 'button', :href => '#searchForm' }
    Search

%ul{ :id => 'home', :title => 'Home', :selected => 'true' }
  %li
    %a{ :href => '#packages' }= _("Packages")
  %li
    %a{ :href => '#maintainers' }= _("Maintainers")
  %li
    %a{ :href => '#teams' }= _("Teams")
  %li
    %a{ :href => '#security' }= _("Security")
  %li
    %a{ :href => '#about' }= _("About")
  %li= _("RSS")
  %li= link_to _('Wiki'), _('http://en.altlinux.org/Sisyphus'), :target => '_self'
  %li= link_to _('Blog'), _('http://www.livejournal.com/userinfo.bml?user=ru_sisyphus'), :target => '_self'
  %li= link_to _('Planet'), _('http://planet.altlinux.org/'), :target => '_self'
  %li= link_to _('Mailing list'), _('http://lists.altlinux.org/mailman/listinfo/community-en/'), :target => '_self'

%ul{ :id => 'packages', :title => _("Packages") }
  - @groups.each do |group|
    - if group.leaf?
      %li= link_to "#{group.name} (#{group.srpms.count})", iphone_group_path(:group => group.name), :target => '_self'
    / - else
    /   TODO

%ul{ :id => 'maintainers', :title => _("Maintainers") }
  - @maintainers.each do |maintainer|
    %li= link_to maintainer.name, iphone_maintainer_path(:login => maintainer.login), :target => '_self'

%ul{ :id => 'teams', :title => _("Teams") }
  - @teams.each do |team|
    %li= team.name

%div{ :id => 'security', :class => 'panel', :title => _("Security") }
  %h2
    TODO
