<% title _("Prometheus 2.0 - Team &laquo;") + @team.login[1..-1] + _("&raquo;") -%>
<% url "/team/" + @team.login[1..-1] -%>

<div class="header"><%= _("Team:") %> <%= @team.name %></div>
<p class="break" />
<b><%= _("Information:") %></b> <div class="para">  </div>
<p class="break" />
<% if !@leader.nil? -%>
<b><%= _("Team leader:") %></b> <% @leader.each do |leader| -%><%= link_to leader.name, '/' + params[:locale] + '/packager/' + leader.login, :class => 'news', :title => _('information about the packager') -%><% end -%>
<p class="break" />
<% end %>
<b><%= _("Team members:") %></b>
<ul>
<%# @members.each do |member| -%>
  <li><%#= link_to member.name, '/' + params[:locale] + '/packager/' + member.login, :class => 'news', :title => _('information about the packager') -%></li>
<%# end -%>
</ul>

<p class="break" />

<b><%= _("List of packages:") %></b> [ <%= @acls.count %> ]<br /><br />

<table id="bugs" cellspacing="0" cellpadding="3" class="sortable">
  <tr>
    <th class="nosort"><%= raw _("repo<br/>cop") %></th>
    <th class="sort"><%= _("package") %></th>
    <th class="nosort"><%= raw _("current<br />version") %></th>
    <th class="sort"><%= _("build time") %></th>
    <th class="nosort"><%= _("age") %></th>
    <th class="nosort"><%= _("Url") %></th>
    <th class="nosort"><%= _("Summary") %></th>
  </tr>

  <% @acls.each do |acl| -%>
    <% if !acl.srpm.nil? -%>
      <tr>
        <td>
          <%= link_to image_tag(acl.srpm.repocop + '.png', :size => '20x20', :alt => acl.srpm.repocop), '/' + params[:locale] + '/srpm/Sisyphus/' + acl.srpm.name + '/repocop', :class => 'repocoplink', :title => 'repocop' %>
        </td>
        <td class="strange">
          <%= link_to acl.srpm.name, '/' + params[:locale] + '/srpm/Sisyphus/' + acl.srpm.name, :class => 'news', :title => _('detailed information about RPM') %>
        </td>
        <td><%= acl.srpm.version %>-<%= acl.srpm.release %></td>
        <td><%= acl.srpm.buildtime %></td>
        <td><%= time_ago_in_words(acl.srpm.buildtime) %> <%= _("ago") %></td>
        <td>
          <% if acl.srpm.url != nil %><%= link_to acl.srpm.url[0..27] + '...', acl.srpm.url, :class => 'news', :rel => 'nofollow' %><% else %>-<% end %>
        </td>
        <td style="text-align:left;"><%= acl.srpm.summary %></td>
      </tr>
    <% end -%>
  <% end -%>

</table>
