<% srpm_count @sisyphus.srpms.all.count -%>
<% title _("Prometheus 2.0 - Team &laquo;") + h(@team.login[1..-1]) + _("&raquo;") -%>
<% url "/team/" + h(@team.login[1..-1]) -%>

<div class="header"><%=h _("Team:") %> <%=h @team.name %></div>
<p class="break" />
<b><%=h _("Information:") %></b> <div class="para">  </div>
<p class="break" />
<% if @leader != nil -%>
<b><%=h _("Team leader:") %></b> <%=h @leader.login %>
<p class="break" />
<% end %>
<b><%=h _("Team members:") %></b>
<ul>
  <% @members.each do |member| -%>
    <li><%=h member.login %></li>
  <% end -%>
</ul>

<p class="break" />

<b><%=h _("List of packages:") %></b> [ <%=h @team.srpms.count %> ]<br /><br />

<table id="bugs" cellspacing="0" cellpadding="3" class="sortable">
  <tr>
    <th class="nosort"><%= _("repo<br/>cop") %></th>
    <th class="sort"><%=h _("package") %></th>
    <th class="nosort"><%= _("current<br />version") %></th>
    <th class="sort"><%=h _("build time") %></th>
    <th class="nosort"><%=h _("age") %></th>
    <th class="nosort"><%=h _("Url") %></th>
    <th class="nosort"><%=h _("Summary") %></th>
  </tr>

  <% @team.srpms.each do |srpm| -%>
  <tr>
    <td>
      <% status = 'skip' -%>
      <% srpm.repocops.each do |repocop| -%>
        <% status = 'ok' if repocop.status == 'ok' and status != 'info' and status != 'experimental' and status != 'warn' and status != 'fail' -%>
        <% status = 'info' if repocop.status == 'info' and status != 'experimental' and status != 'warn' and status != 'fail' -%>
        <% status = 'experimental' if repocop.status == 'experimental' and status != 'warn' and status != 'fail' -%>
        <% status = 'warn' if repocop.status == 'warn' and status != 'fail' -%>
        <% status = 'fail' if repocop.status == 'fail' -%>
      <% end -%>
      <%= link_to '<img src="/images/' + status + '.png" alt="' + status +'" />', '/' + h(params[:locale]) + '/srpm/Sisyphus/' + h(srpm.name) + '/repocop', :class => 'repocoplink', :title => 'repocop' %>
    </td>
    <td class="strange">
      <%= link_to h(srpm.name), '/' + h(params[:locale]) + '/srpm/Sisyphus/' + h(srpm.name), :class => 'news', :title => _('detailed information about RPM') %>
    </td>
    <td><%=h srpm.version %>-<%=h srpm.release %></td>
    <td><%=h srpm.buildtime %></td>
    <td><%=h time_ago_in_words(srpm.buildtime) %> <%= _("ago") %></td>
    <td>
      <% if srpm.url != nil %><%= link_to srpm.url[0..27] + '...', srpm.url, :class => 'news' %><% else %>-<% end %>
    </td>
    <td style="text-align:left;"><%=h srpm.summary %></td>
  </tr>
  <% end -%>

</table>
