<% title _('Prometheus 2.0 - Package &laquo;%s&raquo; - Patches') % @srpm.name %>
<% description "#{ @srpm.name } - #{ @srpm.summary }" %>
<% keywords @srpm.summary %>

<div id='main-content'>
   <div class="rightbar fat">
      <%= render partial: "shared/tables/srpm_list", locals: { branched_srpms: @srpms_by_name.as_json } %>
   </div>

<div style="height:3em;">
  <div id="rpmtop">
    <b style="font-size:9pt;"><%= _('Group') %> :: <%= _(@srpm.groupname) %></b><br>
    <div class="header" style="letter-spacing:1px;"><%= _('Source RPM:') %> <%= @srpm.name %></div>
  </div>
</div>

<div>
<%= render partial: "shared/srpms_menu", locals: { current_page: :patches, branch: @branch, srpm: @srpm, opened_bugs: @opened_bugs, all_bugs: @all_bugs, version: @version } %>

<% if @srpm.patches.any? %>
<table style="pretty">
  <% @srpm.patches.each do |patch| %>
  <tr>
    <td style="border-bottom: #aaa dotted 1px; padding-right:1em;">&middot;
      <% if patch.patch? %>
        <%= link_to patch.filename, srpm_patch_path(@branch, @srpm, patch), class: 'news' %>
      <% else %>
        <%= patch.filename %>
      <% end %>
    </td>
    <td> <b><%= number_to_human_size(patch.size) %></b> </td>
    <td>
      <% if patch.patch? %>
        <%= link_to _('Download'), srpm_patch_download_path(@branch, @srpm, patch), class: 'news' %>
      <% else %>
        &nbsp;
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>

</div>

<div id="bottom-offset-l">
  <div id="bottom-offset-r">
    &nbsp;
  </div>
</div>
