<% title _('Prometheus 2.0 - Search') %>

<div id="main-content">

  <div class="header" style="letter-spacing: 1px;"><%= _('Search') %></div>
  <p class="break"></p>

  <%= render partial: "shared/search_form", locals: { branches: @branches, branch: @branch, arch: @arch, arches: @branch.arches, query: @query || params[:query]} %>

  <br>
  <br>
  <%= _('On your query &quot;').html_safe %><b><%= params[:query] %></b>
  <%= (_('&quot; in branch <b>%s</b> were found') % @branch.name).html_safe %>
  <b><%= @srpms.total_count %></b>
  <%= n_('RPM:', 'RPMs:', @srpms.total_count) %>

  <p class="break"></p>
  <br>
  <table id='bugs' cellspacing='0' cellpadding='3'>
    <tr>
      <% if @branch.perpetual? %>
        <th><%= raw _('repo<br>cop') %></th>
      <% end %>
      <th><%= _('package') %></th>
      <th><%= raw _('current<br>version') %></th>
      <th><%= _('build time') %></th>
      <th><%= _('age') %></th>
      <th><%= _('Url') %></th>
      <th><%= _('summary') %></th>
    </tr>

    <% @srpms.each do |srpm| %>
      <% if srpm %>
        <%- srpm = srpm.decorate %>
        <tr>
          <% if @branch.perpetual? %>
            <td>
              <%= link_to image_tag("#{ srpm.repocop }.png", size: '20x20', alt: srpm.repocop), repocop_srpm_path(@branch, srpm), class: 'repocoplink', title: _('repocop') %>
            </td>
          <% end %>
          <td class="strange">
            <%= link_to srpm.name, versioned_srpm_path(@branch, srpm, version: srpm.evr), class: 'news' %>
          </td>
          <td><%= srpm.evr %></td>
          <td><%= srpm.buildtime %></td>
          <td><%= "#{ time_ago_in_words(srpm.buildtime) } #{ _('ago') }" %></td>
          <td><%= srpm.short_url %></td>
          <td><%= srpm.summary %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <div style="text-align:center">
    <%= paginate @srpms %>
  </div>

<div id="bottom-offset-l">
  <div id="bottom-offset-r">
    &nbsp;
  </div>
</div>
