<%# cache("#{I18n.locale}_srpms_#{@branch.name}_#{params[:page]}") do %>
<% @changelogs.each do |changelog| %>
  <span class="news-date-new">
    <%= link_to "#{changelog.srpm.name}-#{changelog.changelogname.split('>')[1].strip rescue nil}",
                srpm_path(changelog.srpm.branch, changelog.srpm),
                class: 'news',
                title: _('detailed information about the package') %>
  </span>

  <span class="news-text" style="border-bottom: dotted 1px #f0f0f0">&nbsp;<%= _('build') %>
    <%= Time.at(changelog.changelogtime.to_i).to_date %>
  </span>

  <div id="pkg-<%= changelog.srpm.name %>" style="display:block;margin-top:1em;">
    <b><%= _('Group:') %></b> <span class="news-text"><%= _(changelog.srpm.groupname) %></span><br>
    <b><%= _('Summary:') %></b> <span class="news-text"><%= changelog.srpm.summary %></span><br>
    <b><%= _('Changes:') %></b> <div class="para"><%= simple_format(changelog.changelogtext) %></div>
  </div>
  <p class="news" />

<% end %>

<p class="break" />
  <div style="text-align:center">
    <%= paginate @changelogs %>
  </div>
</div>

<%# end %>
