<% title _("Prometheus 2.0 - Maintainer &laquo;") + @maintainer.name + _("&raquo; - ACL's") -%>
<% url "/packager/" + @maintainer.login + "/acls" -%>

<div class="header"><%= _("Maintainer:") %> <%= @maintainer.name %></div>
<p class="break" />
<span class="vkladka">&nbsp;<%= link_to _("Information"), maintainer_info_path(:login => @maintainer.login), :class => 'news', :title => _("information about maintainer") %>&nbsp;</span><span class="underl">&nbsp;</span><span class="current">&nbsp;<b><%= _("Packages") %></b>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Gear"), maintainer_gear_path(:login => @maintainer.login), :class => 'news', :title => _("gear") %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Bugs and FR"), maintainer_bugs_path(:login => @maintainer.login), :class => 'news', :title => _("Bugs/FR statistics assigned to this maintainer") %>&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Repocop"), maintainer_repocop_path(:login => @maintainer.login), :class => 'news', :title => _("repocop bugreports") %>&nbsp;</span><p class="break" />
<b><%= _("List of packages which was built by this maintainer:") %></b> [<%= @acls.count %>] <br /><br />

<table id="bugs" cellspacing="0" cellpadding="3">
  <tr>
    <th><%= _("package") %></th>
    <th><%= _("leader") %></th>
    <th><%= _("ACL's") %></th>
  </tr>

  <% @acls.each do |acl| -%>
  <tr>
    <td><%= acl.srpm.name %></td>
    <td><%= acl.srpm.name %></td>
    <td>
      <% acl.srpm.acls.each do |login| %>
        <%= login.login %>
      <% end %>
    </td>
  </tr>
  <% end -%>

</table>
