<% title _("Prometheus 2.0 - Maintainer &laquo;") + @maintainer.name + _("&raquo; - Gear") -%>
<% url "/packager/" + @maintainer.login + "/gear" -%>

<div class="header"><%= _("Maintainer:") %> <%= @maintainer.name %></div>
<p class="break" />
<span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/packager/<%= @maintainer.login %>" class="news" title="<%= _("information about maintainer") %>"><%= _("Information") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/packager/<%= @maintainer.login %>/srpms" class="news" title="<%= _("packages which was built by this maintainer") %>"><%= _("Packages") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="current">&nbsp;<b><%= _("Gear") %></b>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/packager/<%= @maintainer.login %>/bugs" class="news" title="<%= _("Bugs/FR statistics assigned to this maintainer") %>"><%= _("Bugs and FR") %></a>&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/packager/<%= @maintainer.login %>/repocop" class="news" title="<%= _("repocop bugreports") %>"><%= _("Repocop") %></a>&nbsp;</span><p class="break" />

<% if @gitrepos.count != 0 -%>
<table style="pretty">
  <% @gitrepos.each do |gitrepo| -%>
    <tr>
      <td style="border-bottom: #aaa dotted 1px; padding-right:1em;">&middot;
        <% gitrepo.maintainer.login = 'php_coder' if gitrepo.maintainer.login == 'php-coder' -%>
        <% gitrepo.maintainer.login = 'psolntsev' if gitrepo.maintainer.login == 'p_solntsev' -%>
        <%= link_to gitrepo.repo, 'http://git.altlinux.org/people/' + gitrepo.maintainer.login + '/packages/?p=' + gitrepo.repo + '.git', :class => 'news' %>
      </td>
      <td><%= gitrepo.lastchange %></td>
    </tr>
  <% end -%>
</table>
<% end -%>

