<% title _("Prometheus 2.0 - Maintainer &laquo;") + @maintainer.name + _("&raquo; - Packages") -%>
<% url "/packager/" + @maintainer.login + "/srpms" -%>

<div class="header"><%= _("Maintainer:") %> <%= @maintainer.name %></div>
<p class="break" />
<span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/packager/<%= @maintainer.login %>" class="news" title="<%= _("information about maintainer") %>"><%= _("Information") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="current">&nbsp;<b><%= _("Packages") %></b>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/packager/<%= @maintainer.login %>/gear" class="news" title="<%= _("gear") %>"><%= _("Gear") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/packager/<%= @maintainer.login %>/bugs" class="news" title="<%= _("Bugs/FR statistics assigned to this maintainer") %>"><%= _("Bugs and FR") %></a>&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/packager/<%= @maintainer.login %>/repocop" class="news" title="<%= _("repocop bugreports") %>"><%= _("Repocop") %></a>&nbsp;</span><p class="break" />
<b><%= _("List of packages which was built by this maintainer:") %></b> [<%= @acls.count %>] <br /><br />

<table id="bugs" cellspacing="0" cellpadding="3" class="sortable">
  <tr>
    <th id="repocop" class="nosort"><%= raw _("repo<br/>cop") %></th>
    <th class="sort"><%= _("package") %></th>
    <th class="nosort"><%= raw _("current<br />version") %></th>
    <th class="sort"><%= _("build time") %></th>
    <th class="nosort"><%= _("age") %></th>
    <th class="nosort"><%= _("Url") %></th>
    <th class="nosort"><%= _("Summary") %></th>
  </tr>

  <% if !@acls.srpms.nil? %>

  <% @acls.srpms.each do |srpm| -%>
  <tr>
    <td>
      <%= link_to image_tag(srpm.repocop + '.png', :size => '20x20', :alt => srpm.repocop), '/' + params[:locale] + '/srpm/Sisyphus/' + srpm.name + '/repocop', :class => 'repocoplink', :title => 'repocop' %>
    </td>
    <td class="strange">
      <%= link_to srpm.name, '/' + params[:locale] + '/srpm/Sisyphus/' + srpm.name, :class => 'news' %>
    </td>
    <td><%= srpm.version %>-<%= srpm.release %></td>
    <td><%= srpm.buildtime %></td>
    <td><%= time_ago_in_words(srpm.buildtime) %> <%= _("ago") %></td>
    <td>
      <% if srpm.url != nil %><%= link_to srpm.url[0..27] + '...', srpm.url, :class => 'news', :rel => 'nofollow' %><% else %>-<% end %>
    </td>
    <td style="text-align:left;"><%= srpm.summary %></td>
  </tr>
  <% end -%>
  <% end -%>

</table>
