<% title _("Prometheus 2.0 - Maintainer &laquo;") + @maintainer.name + _("&raquo; - Packages") -%>
<% url "/packager/" + @maintainer.login + "/srpms" -%>

<div id='main-content'>

<div class="header"><%= _("Maintainer:") %> <%= @maintainer.name %></div>
<p class="break" />
<span class="vkladka">&nbsp;<%= link_to _("Information"), maintainer_info_path(:login => @maintainer.login), :class => 'news', :title => _("information about maintainer") %>&nbsp;</span><span class="underl">&nbsp;</span><span class="current">&nbsp;<b><%= _("Packages") %></b>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Gear"), maintainer_gear_path(:login => @maintainer.login), :class => 'news', :title => _("gear") %>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Bugs and FR"), maintainer_bugs_path(:login => @maintainer.login), :class => 'news', :title => _("Bugs/FR statistics assigned to this maintainer") %>&nbsp;</span><span class="vkladka">&nbsp;<%= link_to _("Repocop"), maintainer_repocop_path(:login => @maintainer.login), :class => 'news', :title => _("repocop bugreports") %>&nbsp;</span><p class="break" />
<b><%= _("List of packages which was built by this maintainer:") %></b> [<%= @acls.count %>] <br /><br />

<table id="bugs" cellspacing="0" cellpadding="3">
  <tr>
    <th><%= raw _("repo<br/>cop") %></th>
    <th><%= _("package") %></th>
    <th><%= raw _("current<br />version") %></th>
    <th><%= _("build time") %></th>
    <th><%= _("age") %></th>
    <th><%= _("Url") %></th>
    <th><%= _("Summary") %></th>
  </tr>

  <% @acls.each do |acl| -%>
  <tr>
    <td>
      <%= link_to image_tag(acl.srpm.repocop + '.png', :size => '20x20', :alt => acl.srpm.repocop), srpm_repocop_path(:branch => 'Sisyphus', :name => acl.srpm.name), :class => 'repocoplink', :title => 'repocop' %>
    </td>
    <td class="strange">
      <%= link_to acl.srpm.name, srpm_main_path(:branch => 'Sisyphus', :name => acl.srpm.name), :class => 'news' %>
    </td>
    <td><%= acl.srpm.version %>-<%= acl.srpm.release %></td>
    <td><%= acl.srpm.buildtime %></td>
    <td><%= time_ago_in_words(acl.srpm.buildtime) %> <%= _("ago") %></td>
    <td>
      <% if acl.srpm.url != nil %><%= link_to acl.srpm.url[0..27] + '...', acl.srpm.url, :class => 'news', :rel => 'nofollow' %><% else %>-<% end %>
    </td>
    <td style="text-align:left;"><%= acl.srpm.summary %></td>
  </tr>
  <% end -%>

</table>

</div><div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div>
