<div id='main-content'>
  <div class='header'><%= _('Packages to rebuild:') %></div>
  <p class='break'></p>
  <b><%= _("List of packages needing rebuild without \"%undefine _configure_target\" hack:") %></b>
  <br/>
  <br/>
  <table cellpadding='3' cellspacing='0' id='bugs'>
    <tr>
      <th><%= _('package') %></th>
      <th><%= raw _('current<br />version') %></th>
      <th><%= _('package leader') %></th>
      <th><%= _('ACL:') %></th>
    </tr>
    <% @specfiles.each do |specfile| %>
      <tr>
        <% if specfile.srpm.branch.name == 'Sisyphus' %>
          <td><%= link_to specfile.srpm.name, srpm_path(:id => specfile.srpm.name, :branch => 'Sisyphus'), :class => 'news', :title => _('detailed information about RPM') %></td>
          <td><%= "#{specfile.srpm.version}-#{specfile.srpm.release}" %></td>
          <td>
            <% if specfile.srpm.leader.maintainer.team %>
              <%= link_to specfile.srpm.leader.maintainer.name, team_path(:id => specfile.srpm.leader.maintainer.login[1..-1], :branch => 'Sisyphus'), :class => 'news', :title => _('information about maintainer') %>
            <% else %>
              <%= link_to specfile.srpm.leader.maintainer.name, maintainer_path(:id => specfile.srpm.leader.maintainer.login, :branch => 'Sisyphus'), :class => 'news', :title => _('information about maintainer') %>
            <% end %>
          </td>
          <td>
            <% specfile.srpm.acls.each do |acl| %>
              <% if acl.maintainer.team %>
                <%= link_to acl.maintainer.name, team_path(:id => acl.maintainer.login[1..-1], :branch => 'Sisyphus'), :class => 'news' %>
              <% else %>
                <%= link_to acl.maintainer.name, maintainer_path(:id => acl.maintainer.login, :branch => 'Sisyphus'), :class => 'news' %>
              <% end %>
              <br/>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<div id='bottom-offset-l'>
  <div id='bottom-offset-r'>
    &nbsp;
  </div>
</div>
