#main-content

  %div.header Список пакетов на пересборку:

  %p.break
  %b Список пакетов которые необходимо пересобрать без хака "%undefine _configure_target":
  %br
  %br

  %table{ :id => 'bugs', :cellspacing => '0', :cellpadding => '3' }
    %tr
      %th= _("package")
      %th= raw _("current<br />version")
      %th= _("package leader")
      %th= _("ACLs:")
    - @specfiles.each do |specfile|
      %tr
        - if specfile.srpm.branch.name == 'Sisyphus'
          %td
            = link_to specfile.srpm.name, srpm_path(:id => specfile.srpm.name, :branch => 'Sisyphus'), :class => 'news', :title => _('detailed information about RPM')
          %td= "#{specfile.srpm.version}-#{specfile.srpm.release}"
          %td
            - if specfile.srpm.leader.maintainer.team
              = link_to specfile.srpm.leader.maintainer.name, team_path(:id => specfile.srpm.leader.maintainer.login[1..-1], :branch => 'Sisyphus'), :class => 'news', :title => _('information about maintainer')
            - else
              = link_to specfile.srpm.leader.maintainer.name, maintainer_path(:id => specfile.srpm.leader.maintainer.login, :branch => 'Sisyphus'), :class => 'news', :title => _('information about maintainer')
          %td
            - specfile.srpm.acls.each do |acl|
              - if acl.maintainer.team
                = link_to acl.maintainer.name, team_path(:id => acl.maintainer.login[1..-1], :branch => 'Sisyphus'), :class => 'news'
              - else
                = link_to acl.maintainer.name, maintainer_path(:id => acl.maintainer.login, :branch => 'Sisyphus'), :class => 'news'
              %br

#bottom-offset-l
  #bottom-offset-r
    &nbsp;
