!!! Strict

%html
  %head
    %title= yield(:title)

    %meta{ 'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8' }
    %meta{ 'name' => 'description', :content => 'ALT Linux Team - Sisyphus packages info' }
    %meta{ 'name' => 'keywords', :content => yield(:keywords) }
    = csrf_meta_tag
    = stylesheet_link_tag 'alt'
    %script{ :src => 'http://www.google.com/jsapi', :type => 'text/javascript' }
    %script{ :type => 'text/javascript' }
      google.load("jquery", "1.4.4");
    = javascript_include_tag 'rails', params[:locale] + '/local.js', :cache => "main_" + params[:locale]

    :javascript
      function chText(txt1, txt2, did) {
        di = document.getElementById(did);
        if (di.innerHTML == txt1){
          di.innerHTML = txt2;
          di.style.backgroundColor = '#baccdd';
        } else {
          di.innerHTML = txt1;
          di.style.backgroundColor = '#fafaff';
        }
      }
      function m_on(lid) {
        li = document.getElementById(lid);
        li.style.backgroundColor = '#aabccd';
        if (dli = document.getElementById('d'+lid)){
          dli.style.backgroundColor = '#aabccd';
        }
      }
      function m_off(lid) {
        li = document.getElementById(lid);
        li.style.backgroundColor = '#fafaff';
        if (dli = document.getElementById('d'+lid)){
          dli.style.backgroundColor = '#fafaff';
        }
      }
      function show(divnum) {
        for (i=1; i <= 3; i++ ) {
          layersrc = document.getElementById('vk'+i);
          layerdst = document.getElementById('div'+i);
          if (i == divnum && layerdst.style.display == "none") {
            layerdst.style.display = "block";
            layersrc.style.backgroundColor = "#baccdd";
          } else {
            layerdst.style.display = "none";
            layersrc.style.backgroundColor = "#fafaff";
          }
        }
      }

  %body
    #top
      #top-logo
        %a{ :href => 'http://www.altlinux.org/' }
          = image_tag("altlinux.gif", :style => 'border: 0px', :alt => 'ALT Linux Team - wiki', :title => 'ALT Linux Team - wiki')
      #top-menu
        = _("Sisyphus repository")
      #top-auth
        #div1{ :style => 'display: block; margin-top: 20px' }
          #form{ :action => '/' + params[:locale] + '/find.shtml', :method => 'get' }
            %table
              %tr
                %td
                  %input{ :class => 'top-name', :type => 'text', :name => 'request', :value => '', :size => '18' }
                %td{ :valign => 'middle' }
                  %input{ :type => 'submit', :class => 'top-go', :id => 'sub1', :value => _("find"), :onmouseover => 'm_on("sub1")', :onmouseout => 'm_off("sub1")' }

    #top-line
      #vinfo
        %b= _("Last update:").to_s + " ".to_s 
        = Date.today.to_s + " | ".to_s
        %b= _("SRPMs:").to_s + " ".to_s
        = Srpm.count_srpms_in_sisyphus

      %div{ :style => 'text-align: right' }
        = link_to_unless_current _('en'), '/en' + yield(:url), :title => _('English') + " ".to_s
        = link_to_unless_current _('ru'), '/ru' + yield(:url), :title => _('Russian') + " ".to_s
        = link_to_unless_current _('uk'), '/uk' + yield(:url), :title => _('Ukrainian') + " ".to_s
        = link_to_unless_current _("br"), '/br' + yield(:url), :title => _('Portuguese (Brasilian)')

    %div{ :id => 'menu', :style => 'text-align: center' }
      %ul
        %li{ :onmouseover => 'm_on("li1")', :onmouseout => 'm_off("li1")', :id => 'li1' }
          #dli1
            = link_to_unless_current _("Home"), home_path, :title => _("site home page")
        %li{ :onmouseover => 'm_on("li2")', :onmouseout => 'm_off("li2")', :id => 'li2' }
          #dli2
            = link_to_unless_current _("News"), news_path, :title => _("site news")
        %li{ :onmouseover => 'm_on("li3")', :onmouseout => 'm_off("li3")', :id => 'li3' }
          #dli3
            = link_to_unless_current _("Packages"), packages_path, :title => _("packages information")
        %li{ :onmouseover => 'm_on("li4")', :onmouseout => 'm_off("li4")', :id => 'li4' }
          #dli4
            = link_to_unless_current _("Maintainers"), maintainers_path, :title => _("maintainers information")
        %li{ :onmouseover => 'm_on("li5")', :onmouseout => 'm_off("li5")', :id => 'li5' }
          #dli5
            = link_to_unless_current _("Security"), security_path, :title => _("security fixes")
        %li{ :onmouseover => 'm_on("li6")', :onmouseout => 'm_off("li6")', :id => 'li6' }
          #dli6
            = link_to_unless_current _("About"), project_path, :title => _("about Prometheus project")
        %li{ :onmouseover => 'm_on("li7")', :onmouseout => 'm_off("li7")', :id => 'li7' }
          #dli7
            = link_to_unless_current _("RSS"), rss_path, :title => _("RSS")
        %li{ :onmouseover => 'm_on("li8")', :onmouseout => 'm_off("li8")', :id => 'li8' }
          #dli8
            = link_to _("Wiki"), _("http://en.altlinux.org/Sisyphus"), :title => _("sisyphus public site")
        - if params[:locale] == 'ru'
          %li{ :onmouseover => 'm_on("li9")', :onmouseout => 'm_off("li9")', :id => 'li9' }
            #dli9
              = link_to _("Blog"), _("http://www.livejournal.com/userinfo.bml?user=ru_sisyphus"), :title => _("blog")
          %li{ :onmouseover => 'm_on("li10")', :onmouseout => 'm_off("li10")', :id => 'li10' }
            #dli10
              = link_to _("Planet"), _("http://planet.altlinux.org/"), :title => _("ALT Linux Planet")
        %li{ :onmouseover => 'm_on("li11")', :onmouseout => 'm_off("li11")', :id => 'li11' }
          #dli11
            = link_to _("Mailing list"), _("http://lists.altlinux.org/mailman/listinfo/community-en/"), :title => _("community-en@")


    #main-offset
      #main-content
        = yield

    #bottom
      &copy;&nbsp;2009&ndash;2010
      %a{ :href => 'mailto:icesik@altlinux.org', :class => 'news' } Igor Zubkov

    = render :partial => "shared/ga"

    = render :partial => "shared/ym"
