<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta content='text/html;charset=UTF-8' http-equiv='content-type' />
  <meta content='<%= yield(:description) %>' name='description'>
  <meta content='<%= yield(:keywords) %>' name='keywords'>
  <link href='/favicon.ico' rel='shortcut icon' type='image/x-icon'>
  <link href='/opensearch.xml' rel='search' title='packages.altlinux.org' type='application/opensearchdescription+xml'>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', "#{ I18n.locale }/local", 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div style='display: none;'>
    <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p>
  </div>

  <div id='top'>
    <div id='top-logo'>
      <a href='http://www.altlinux.org/'>
        <%= image_tag('altlinux.gif', style: 'border: 0px', alt: _('ALT Linux Team - wiki'), title: _('ALT Linux Team - wiki')) %>
      </a>
    </div>
    <div id='top-menu'>
      <%= _('Sisyphus repository') %>
    </div>
    <div id='top-auth'>
      <div id='div1' style='display: block; margin-top: 20px'>
        <%= form_tag search_path(branch: @branch.name), method: :get do %>
          <%= hidden_field_tag('branch', @branch.name) %>
          <table>
            <tr>
              <td>
                <%= text_field_tag :query, params[:query] ? params[:query] : "", placeholder: _('Search...'), class: 'top-name', size: '18' %>
              </td>
              <td valign='middle'>
                <input type='submit' class='top-go' id='sub1' value="<%= _('find') %>" />
              </td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>

  <div id='top-line'>
    <div id='vinfo'>
      <b><%= _('Last update:') %> </b> <%= Redis.current.get("#{ @branch.name }:updated_at") %> | <b><%= _('SRPMs:') %> </b> <%= @branch.counter_value %> |
      <% if user_signed_in? %>
        <b><%= "Welcome, #{ current_user.email }! | " %></b>
        <%= link_to _('Sign out'), destroy_user_session_path, method: :delete %>
        <% if current_user.member? %>
         | <b><%= link_to _('Edit my maintainer profile'), edit_maintainer_profile_path %></b>
        <% end %>
      <% else %>
        <%= link_to _('Sign in'), new_user_session_path %><%= _(' or ') %>
        <%= link_to _('Sign up'), new_user_registration_path %>
      <% end %>
    </div>
    <div style='text-align: right'>
      <%= link_to_unless_current 'en', change_current_page_lang(request.fullpath, 'en'), title: 'English' %>
      <%= link_to_unless_current 'ru', change_current_page_lang(request.fullpath, 'ru'), title: 'Russian' %>
      <%= link_to_unless_current 'uk', change_current_page_lang(request.fullpath, 'uk'), title: 'Ukrainian' %>
      <%= link_to_unless_current 'br', change_current_page_lang(request.fullpath, 'br'), title: 'Portuguese (Brasilian)' %>
    </div>
  </div>

  <%- if @branch.persisted? %>
  <div id='menu' style='text-align: center'>
    <ul>
      <li>
        <%= link_to_unless_current _('Home'), home_path(branch: @branch.name), title: _('site home page') %>
      </li>
      <li>
        <%= link_to_unless_current _('Packages'), packages_path(branch: @branch.name), title: _('packages information') %>
      </li>
      <li>
        <%= link_to_unless_current _('Maintainers'), maintainers_path(branch: @branch.name), title: _('maintainers information') %>
      </li>
      <li>
        <%= link_to_unless_current _('Teams'), teams_path(branch: @branch.name), title: _('teams information') %>
      </li>
      <li>
        <%= link_to_unless_current _('Security'), security_path(branch: @branch.name), title: _('security fixes') %>
      </li>
      <li>
        <%= link_to_unless_current _('About'), project_path, title: _('about Prometheus project') %>
      </li>
      <li>
        <%= link_to_unless_current _('RSS'), rss_path(branch: @branch.name), title: _('RSS') %>
      </li>
      <li>
        <%= link_to _('Wiki'), _('http://en.altlinux.org/Sisyphus'), title: _('sisyphus public site') %>
      </li>
      <% if I18n.locale == :ru %>
        <li>
          <%= link_to _('Blog'), _('http://www.livejournal.com/userinfo.bml?user=ru_sisyphus'), title: _('blog') %>
        </li>
        <li>
          <%= link_to _('Planet'), _('http://planet.altlinux.org/'), title: _('ALT Linux Planet') %>
        </li>
      <% end %>
      <li>
        <%= link_to _('Mailing list'), _('http://lists.altlinux.org/mailman/listinfo/community-en/'), title: _('community-en@') %>
      </li>
      <li>
        <%= link_to _('API'), 'http://petstore.swagger.io/?url=https://packages.altlinux.org/api/docs', title: _('API') %>
      </li>
    </ul>

  </div>
  <%- end %>

  <div id='main-offset'>
    <%= yield %>
  </div>

  <div id='bottom'>
    &copy;&nbsp;2009&ndash;2018&nbsp;<a class='news' href='mailto:icesik@altlinux.org'><%= _('Igor Zubkov') %></a>
  </div>

</body>
</html>
