<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= yield(:title) || _("Prometheus 2.0") %></title>

  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="description" content="ALT Linux Team - Sisyphus packages info" />
  <meta name="keywords" content="<%= yield(:keywords) || "ALT linux Sisyphus development rpm" %>" />
  <%= stylesheet_link_tag 'alt' %>
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript">
    google.load("prototype", "1.6.1.0");
  </script>
  <%= javascript_include_tag 'fastinit.js', 'tablekit.js', 'repocop.js', params[:locale] + '/local.js', :cache => "main_" + params[:locale] %>

  <!--<link rel="alternate" title="Prometeus RSS" href="rss" type="application/rss+xml" />-->

<script type="text/javascript">
<!--

function chText(txt1, txt2, did) {
    di = document.getElementById(did);
    if (di.innerHTML == txt1){
        di.innerHTML = txt2;
        di.style.backgroundColor = '#baccdd';
    } else {
        di.innerHTML = txt1;
        di.style.backgroundColor = '#fafaff';
    }
}
function m_on(lid){
    li=document.getElementById(lid);
    li.style.backgroundColor='#aabccd';
    if (dli=document.getElementById('d'+lid)){
	    dli.style.backgroundColor='#aabccd';
    }
}
function m_off(lid){
    li=document.getElementById(lid);
    li.style.backgroundColor='#fafaff';
    if (dli=document.getElementById('d'+lid)){
	dli.style.backgroundColor='#fafaff';
    }
}

function show(divnum){

    for (i=1; i <= 3; i++ ){
        layersrc=document.getElementById('vk'+i);
        layerdst=document.getElementById('div'+i);
        if (i == divnum && layerdst.style.display == "none") {
            layerdst.style.display = "block";
            layersrc.style.backgroundColor = "#baccdd";
        } else {
            layerdst.style.display = "none";
            layersrc.style.backgroundColor = "#fafaff";
        }
    }

}
-->
</script>
</head>
<body>
<div id="top">
  <div id="top-logo">
    <a href="http://www.altlinux.org/"><img src="/images/altlinux.gif" style="border:0" alt="ALT Linux Team - wiki" title="ALT Linux Team - wiki" /></a>
  </div>
  <div id="top-menu">
    <%=h _("Sisyphus repository ") %>
  </div>
  <div id="top-auth">
    <div id="div1" style="display:block;margin-top:20px;">
      <form action="/<%=h params[:locale] %>/find.shtml" method="get">
        <table>
          <tr>
            <td>
              <input class="top-name" type="text" name="request" value="" size="18" />
            </td>
            <td valign="middle">
              <input type="submit" class="top-go" id="sub1" value="<%=h _("find") %>" onmouseover="m_on('sub1')" onmouseout="m_off('sub1')" />
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>

<div id="top-line">
  <div id="vinfo">
    <b><%=h _("Last update:") %></b> <%=h Date.today %> | <b><%=h _("SRPMs:") %> <%= yield(:srpms_counter) || "broken :)" %></b>
  </div>

  <div style="text-align: right"><%= link_to_unless_current _('en'), '/en' + yield(:url), :title => _('English') %> <%= link_to_unless_current _('ru'), '/ru' + yield(:url), :title => _('Russian') %> <%= link_to_unless_current _('uk'), '/uk' + yield(:url), :title => _('Ukrainian') %><!--<a href="/br<%= yield(:url) %>" title="Portuguese (Brasilian)">br</a>--></div>

</div>

<div id="menu" style="text-align:center">
  <ul>
    <li onmouseover="m_on('li1')" onmouseout="m_off('li1')" id="li1">
      <div id="dli1">
        <%= link_to_unless_current _("Home"), '/' + h(params[:locale]), :title => _("site home page") %>
      </div>
    </li>
    <li onmouseover="m_on('li2')" onmouseout="m_off('li2')" id="li2">
      <div id="dli2">
        <%= link_to_unless_current _("News"), '/' + h(params[:locale]) + '/news', :title => _("site news") %>
      </div>
    </li>
    <li onmouseover="m_on('li3')" onmouseout="m_off('li3')" id="li3">
      <div id="dli3">
        <%= link_to_unless_current _("Packages"), '/' + h(params[:locale]) + '/packages', :title => _("packages information") %>
      </div>
    </li>
    <li onmouseover="m_on('li4')" onmouseout="m_off('li4')" id="li4">
      <div id="dli4">
        <%= link_to_unless_current _("Maintainers"), '/' + h(params[:locale]) + '/people', :title => _("maintainers information") %>
      </div>
    </li>
    <li onmouseover="m_on('li5')" onmouseout="m_off('li5')" id="li5">
      <div id="dli5">
        <%= link_to_unless_current _("Security"), '/' + h(params[:locale]) + '/security', :title => _("security fixes") %>
      </div>
    </li>
    <li onmouseover="m_on('li6')" onmouseout="m_off('li6')" id="li6">
      <div id="dli6">
        <%= link_to_unless_current _("About"), '/' + h(params[:locale]) + '/project', :title => _("about Prometeus project") %>
      </div>
    </li>
    <li onmouseover="m_on('li7')" onmouseout="m_off('li7')" id="li7">
      <div id="dli7">
        <a href="/rss/" title="RSS">RSS</a>
      </div>
    </li>
    <li onmouseover="m_on('li8')" onmouseout="m_off('li8')" id="li8">
      <div id="dli8">
        <%= link_to _("Wiki"), _("http://en.altlinux.org/Sisyphus"), :title => _("sisyphus public site") %>
      </div>
    </li>
<% if params[:locale] == 'ru' -%>
    <li onmouseover="m_on('li9')" onmouseout="m_off('li9')" id="li9">
      <div id="dli9">
        <%= link_to _("Blog"), _("http://www.livejournal.com/userinfo.bml?user=ru_sisyphus"), :title => _("blog") %>
      </div>
    </li>
    <li onmouseover="m_on('li10')" onmouseout="m_off('li10')" id="li10">
      <div id="dli10">
        <%= link_to _("Planet"), _("http://planet.altlinux.org/"), :title => _("ALT Linux Planet") %>
      </div>
    </li>
<% end -%>
    <li onmouseover="m_on('li11')" onmouseout="m_off('li11')" id="li11">
      <div id="dli11">
        <%= link_to _("Mailing list"), _("http://lists.altlinux.org/mailman/listinfo/community-en/"), :title => _("community-en@") %>
      </div>
    </li>
  </ul>
  <a href="http://awards.cnews.ru/2007/#awards11"><img src="/images/cnews.jpg" width="142" height="141" alt="CNews Awards 2007" title="CNews Awards 2007" style="border: 0px" /></a>
</div>
<div id="main-offset">
  <div id="main-content">

<!--

<div class="search">
<% form_tag '/' + h(params[:locale]) + '/search', :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], :size => 15 %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
</div>-->

<%= yield %>

<!--#if expr="$QUERY_STRING != /skipit/" -->
<!--</div><div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div>-->
<!--#endif -->
</div>
<div id="bottom">
  design: <a href="mailto:crux@gorodmasterov.com" class="news">Vladimir Lettiev aka crux</a> &copy; 2004-2005<br />
  development: <a href="mailto:igor.zubkov@gmail.com" class="news">Igor Zubkov</a> &copy; 2009-2010
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11318937-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>

