!!! Strict

%html
  %head
    %title
      Prometheus 2.0
    %meta{ :name => 'viewport', :content => 'width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' }
    = stylesheet_link_tag 'iui'
    = stylesheet_link_tag 'iui-default-theme'
    = javascript_include_tag 'iui.js'
    = csrf_meta_tag

  %body

    = yield
